[2016-12-23 15:36] quanglam2807 opened #1 "Add Swipe to navigate"

[2016-12-23 15:37] quanglam2807 opened #2 "Add Search in Page"

[2017-01-01 20:42] jottr opened #3 "Apps won't open after installation."
This happens for all applications installed via WebCatalog 2.2.0.
[code]

As an example here is what happens when trying to launch gitter:

[code]

[2017-01-01 23:09] quanglam2807 commented on #3
@jottr I think it's because you haven't installed WebCatalog permanently to /Applications. Am I correct?

[2017-01-01 23:20] jottr commented on #3
Nope, I installed the dmg.

[code]

[2017-01-01 23:36] quanglam2807 commented on #3
@jottr Just rename `WebCatalog 2.app` to `WebCatalog.app` and everything will work normally! Still, I don't know why the app name is `WebCatalog 2` :)

[2017-01-01 23:39] jottr commented on #3
Weird indeed.
Anyways, renaming the app fixed it. Thx.

[2017-01-01 23:39] #3 closed

[2017-01-02 22:17] jottr opened #4 "Netflix does not play videos on OSX"
I see the following error, when trying to play a video:

`Please visit chrome://components, locate the WidevineCdm component, and click the "Check for update" button.`

<img width="855" alt="screen" src="https://cloud.githubusercontent.com/assets/2744198/21596867/ad30dd4e-d141-11e6-92b3-4fd20b0e3183.png">

[2017-01-04 21:26] quanglam2807 opened #5 "Open external links in browser"

[2017-01-05 00:17] quanglam2807 commented on #4
The commit is up! It'll be fixed in the next update. @jottr, thank you for your feedback!

[2017-01-05 00:17] #4 closed

[2017-01-05 01:12] #5 closed

[2017-01-05 18:56] jottr opened #6 "Request: Please add zattoo.com"
zattoo.com would be a neat addition to webcatalog!

[2017-01-05 18:58] jottr opened #7 "Add homebrew cask"
Title says it all. :)

[2017-01-05 19:11] quanglam2807 commented on #6
@jottr Do you have a good icon for the app? The one on Google Play Store looks terrible.

[2017-01-05 19:34] jottr commented on #6
I've got an [.icns](http://ge.tt/6JCqDCi2) I created for nativefier earlier.
Note, that they must be using some form of DRM.
I've tried creating an electron app earlier, but some channels are not available when using electron.
Chrome works fine though.
Maybe this is a similar issue as with netflix?

[2017-01-05 19:40] quanglam2807 commented on #6
@jottr That ICNS has low resolution so I'll use another one I've found with Google Images. It's not perfect but acceptable. 👍

Also, I am not sure about the issue you mentioned at all. Let's add it to the catalog first and test then  :) And actually, star the project please! I'm desperate.

[2017-01-07 03:35] quanglam2807 opened #8 "Add Windows support."

[2017-01-08 03:59] #8 closed

[2017-01-08 23:35] quanglam2807 opened #10 "autoUpdater does not work properly."
[code]

[2017-01-08 23:52] quanglam2807 commented on #10
electron-userland/electron-builder#1098

[2017-01-09 04:22] quanglam2807 opened #11 "OAuth authentication does not work properly"

[2017-01-09 05:13] #11 closed

[2017-01-09 06:24] quanglam2807 commented on #7
@jottr I cannot proceed with this until #10 is resolved.

[2017-01-09 13:58] quanglam2807 opened #12 "Add Advanced Mode"
Allow users to install custom URLs.

https://www.reddit.com/r/apple/comments/5mth5g/webcatalog_for_macos_run_your_favorite_web_apps/dc6teje/

[2017-01-09 14:01] quanglam2807 opened #13 "Add scripting support"
https://www.reddit.com/r/apple/comments/5mth5g/webcatalog_for_macos_run_your_favorite_web_apps/dc6yaod/

[2017-01-09 14:07] quanglam2807 opened #14 "Add notification banner"
https://www.reddit.com/r/apple/comments/5mth5g/webcatalog_for_macos_run_your_favorite_web_apps/dc6v67n/

[2017-01-09 21:42] quanglam2807 commented on #10
Related to afterPack script.

[code]

https://developer.apple.com/library/content/technotes/tn2206/_index.html#//apple_ref/doc/uid/DTS40007919-CH1-TNTAG311

[2017-01-11 23:42] swrobel opened #16 "Add Find in page support"
`Ctrl+F` on Windows or `⌘+F` on Mac. This is one essential feature that Fluid has that WebCatalog doesn't seem to.

Awesome work, though, I've been looking for a Fluid replacement for ages, and this is definitely the closest I've found!

[2017-01-12 01:52] swrobel commented on #16
Electron API I believe will need to be used: http://electron.atom.io/docs/api/web-contents/#contentsfindinpagetext-options

Example code: https://github.com/edulan/electron-search-example
Another, more complete example: https://github.com/nakajmg/electron-search-text
Possibly ready-to-use package: https://github.com/rhysd/electron-in-page-search

[2017-01-12 02:41] quanglam2807 commented on #2
#16 duplicate

[2017-01-12 02:41] #2 closed

[2017-01-12 02:46] quanglam2807 commented on #16
Thank you very much, @swrobel! rhysd/electron-in-page-search looks great! I'll start working on this soon.

[2017-01-14 05:42] quanglam2807 commented on #16
@swrobel Trickier than what I expected. The package relies on some Node APIs but it's not possible to run Node in the app container because it conflicts with some sites, including messenger.com.

The solution is to rewrite the package or use webview. But I'm not really sure.

[2017-01-15 21:54] Rediwed opened #19 "2.7.0 Broke everything."
Updating to 2.7.0 broke everything, neither launching the web-apps nor launching the main application works.
And since I've currently moved to WebCatalog to access all my web applications, I have a problem...

`Uncaught Exception:
Error: Cannot find module 'optimist'
    at Module._resolveFilename (module.js:455:15)
    at Function.Module._resolveFilename (/Applications/WebCatalog.app/Contents/Res

[2017-01-15 21:57] quanglam2807 commented on #19
@Rediwed OMG! I'm working to fix it ASAP.

[2017-01-15 22:10] Rediwed commented on #19
I havent tried resetting the applications! Could you point me to the location in which the application settings are saved? As maybe that helps!

Also; you reacted in three (3) minutes! That's the single fastest non-messenger app response I've seen anywhere, ever.

[2017-01-15 22:14] quanglam2807 commented on #19
@Rediwed Haha. There's a bug in the build process so I need to release a new update. It's my fault, not yours so don't worry.

[2017-01-15 22:21] Rediwed commented on #19
Another one in 4 minutes phew!
Good to know, I'm looking forward to using it again!

Can't wait what the future of WebCatalog will bring!

[2017-01-15 22:22] quanglam2807 commented on #19
@Rediwed 👍 No new feature in this update. It's mostly for Linux support. But let's see.

[2017-01-15 22:27] Rediwed commented on #19
And a fix in 31 minutes. You are a hero!
My github account is purely for reporting issues though, so as I don't know how to build the source i'll report my findings (or not if there are none) when it's released on the website ;)

[2017-01-15 22:27] #19 closed

[2017-01-15 22:39] quanglam2807 commented on #19
@Rediwed It's up now! Also, if you want to ask for new feature, such as Chromecast, you can create a new issue on GitHub. Better than Reddit :)

[2017-01-15 22:42] Rediwed commented on #19
Yeah, I figured! Didn't know you had this github when I wrote that. I'll add a feature request!

[2017-01-15 22:43] Rediwed opened #20 "Add chromecast support"
Maybe it'd be a great idea to add chromecast/airplay support. As WebCatalog build on chromium I'd think there'd be the possibility of adding such support?

Might be a little more of a long-term feature request though.

[2017-01-16 00:06] quanglam2807 opened #21 "Linux build doesn't work properly"
Maybe because of AppImage.

[2017-01-16 00:27] quanglam2807 commented on #21
Update: .deb works perfectly on Ubuntu.

[2017-01-16 03:08] #21 closed

[2017-01-16 03:09] quanglam2807 commented on #20
@Rediwed It seems possible :) https://github.com/GPMDP/electron-chromecast

[2017-01-16 03:18] quanglam2807 commented on #20
544a3f0, Cast icon appears but I'm not sure if it works or not because I don't have a Chromecast :)

[2017-01-16 11:39] rycon commented on #21
I had to rename the WebCatalog-2.7.2.pacman to WebCatalog-2.7.2.pkg.tar.gz, and then run sudo pacman -U WebCatalog-2.7.2.pkg.tar.gz in terminal to install.

[2017-01-16 11:47] Rediwed opened #22 "Add background support"
Add support for keeping instances alive whilst window is closed (but application running). So e.g. you can close a spotify window without stopping the music from playing. Then clicking the dock icon should restore the window to it's previous instance.

[2017-01-16 11:48] Rediwed commented on #20
I would love to test it, but I am not able to build the current source.

As i've said, I am not a developer (but am tech-savvy). Could you send me a build or tell me what's wrong?

[2017-01-16 12:11] rycon opened #23 "Opening a File in OneDrive Opens a _Blank Window With No Contents"
(I'm using the new Linux Version on Arch Linux

After installing and logging into my onedrive account, when I select a document to view, a new _blank window is open and has no contents, just a white screen.

![onedrive](https://cloud.githubusercontent.com/assets/8238505/21982562/25dc8230-dbaa-11e6-815a-7147ad0be6a5.png)
)

[2017-01-16 12:19] Rediwed commented on #23
I've seen the same result when trying to add a google account in the macOS version. Might be related?
https://www.reddit.com/r/apple/comments/5mth5g/webcatalog_for_macos_run_your_favorite_web_apps/dcbrr8q/

[2017-01-16 12:26] rycon opened #24 "Show Only Installed Apps"
I'm not sure if I've missed this in the app.

It would be convenient to have a toggle to show only the installed apps.

[2017-01-16 12:28] rycon commented on #21
Is it possible to add a .desktop after installing an app?  This way I can see and search for installed apps in the linux app launcher?

Actually it looks like it already does!  Please ignore!

[2017-01-16 15:58] Rediwed opened #25 "Google Keep trigger discrete graphics card"
Launching the Google Keep web app unfortunately triggers macOS to use it's discrete graphics card instead of the integrated (intel hd/Iris Pro) graphics.

[2017-01-16 18:43] quanglam2807 commented on #20
@Rediwed You need to run `yarn` first. But new build is coming soon so don't worry.

[2017-01-16 18:44] quanglam2807 commented on #25
@Rediwed How can you check this?

[2017-01-16 20:04] Rediwed commented on #25
I posted it ;)

[2017-01-16 20:05] Rediwed commented on #25
By using gfxCardstatus!

But you need a fork from the official version for macOS Sierra, I'll post a link soon.

[2017-01-16 20:13] Rediwed commented on #25
Try this fork of Gfxcardstatus:  https://github.com/steveschow/gfxCardStatus/releases/tag/v2.4.3i

[2017-01-16 20:13] Rediwed commented on #20
Hmm, I did run yarn first..

[2017-01-16 22:53] quanglam2807 commented on #20
@Rediwed, weird. The error log says so:
[code]

[2017-01-16 23:09] Rediwed commented on #20
It replies with:
yarn install v0.18.1
info No lockfile found.
[1/4] 🔍  Resolving packages...
success Nothing to install.
✨  Done in 0.21s.

[2017-01-16 23:10] quanglam2807 commented on #20
@Rediwed From which folder did you run the command?

[2017-01-17 04:10] #23 closed

[2017-01-17 14:20] Rediwed commented on #20
Were you able to implement this feature?

[2017-01-17 15:29] jottr opened #26 "Apps don't open on assigned workspace"
OSX allows to assign default workspaces for each application, by right clicking an applications icon and selecting "This desktop".
![desktopassignmentmenu](https://cloud.githubusercontent.com/assets/2744198/22026754/00b8c10c-dcd2-11e6-892d-7667ea4a8302.png)

Applications from Webcatalog always open on the current workspace, and not within a previously assigned workspace.

[2017-01-17 19:01] quanglam2807 commented on #20
@Rediwed I implemented it. But let's wait until you can test it with the next update. If it doesn't work as expected, I'll reopen this issue.

[2017-01-18 02:08] quanglam2807 commented on #24
:) Done.

[2017-01-18 02:08] #24 closed

[2017-01-18 02:10] quanglam2807 commented on #26
@jottr WebCatalog relies on bash script so maybe I would be able to fix it there's a command to launch an app in a specific workspace. Do you have any idea?

[2017-01-18 11:44] rycon opened #28 "Microsoft Teams Stuck on Initialization"
On the Linux version.
After installing the MS Teams app and logging in o my windows live account, the window stays  purple, and the title state "Microsoft Teams - initializing..." and nothing loads.

![ms teams](https://cloud.githubusercontent.com/assets/8238505/22062767/adb3f91a-dd38-11e6-8e9f-687d7b7869a9.png)

[2017-01-18 11:48] rycon opened #29 "Nothing Listed in Installed View"
Linux version.
After installing a few apps, when I switch over to the installed view, I don't see any of my installed app.

For example, I have MS Teams, Onedrive, and Whatsapp installed.

![installed app](https://cloud.githubusercontent.com/assets/8238505/22062883/3fbeba3e-dd39-11e6-81d6-fcd4c25f2d8f.png)
![no installed in view](https://cloud.githubusercontent.com/assets/8238505/22062886/4182fb14

[2017-01-18 12:13] rycon commented on #28
There look to be some errors in the dev console:

![dev console errors](https://cloud.githubusercontent.com/assets/8238505/22063587/cd33ba56-dd3c-11e6-9c6a-b696db710e50.png)

index.html: register for events
_:57 index.html: check for appcache update. State: 2
_:65 index.html: update not ready, continue with app start
_:1 Document was loaded from Application Cache with manifest https://teams.micros

[2017-01-18 19:13] jottr opened #30 "\"

[2017-01-18 19:14] quanglam2807 commented on #20
@Rediwed it's up now with 2.8.0

[2017-01-18 19:23] quanglam2807 commented on #29
@rycon This is strange. It works normally for me on Manjaro. Does WebCatalog show you which apps are installed in home page?

[2017-01-18 19:25] rycon commented on #29
Yea it does show the installed apps.  That's weird.

[2017-01-18 19:38] quanglam2807 commented on #29
@rycon. Can you open developer tools (Views >  Toggle Developer Tools), then go to Network.

Next go to Installed page (or click the refresh button if you are already there), there'll be a new request appears on the Network tab. Right click and then copy as cURL so I can investigate :)

![](http://i.imgur.com/X4cpnc8.png)

[2017-01-18 19:50] quanglam2807 commented on #30
Typo?

[2017-01-18 20:25] jottr commented on #30
Oh sorry. Yes!

[2017-01-18 20:25] #30 closed

[2017-01-18 20:29] jottr commented on #26
Not really. I've just had a superficial glance at your project. Where exactly is the launch script?

[2017-01-18 21:13] quanglam2807 commented on #26
@jottr https://github.com/webcatalog/desktop/blob/master/app/applify-darwin.sh

[2017-01-18 22:33] Rediwed commented on #20
I tried it, no chromecast icon on this side.. Does it need to be set up somehow?

[2017-01-18 22:35] quanglam2807 commented on #20
@Rediwed What app are you using? Chromecast icon appears in Google Play Music for me.

[2017-01-18 22:37] quanglam2807 commented on #28
@rycon Can you also share the dev console when you access Microsoft Teams with Google Chrome? I don't have Office 365 account so I can't test this myself.

[2017-01-18 22:43] Rediwed commented on #20
Both Youtube and netflix. Let me try Play music..

[2017-01-18 22:48] Rediwed commented on #20
Sweet!! Chromecast support works perfectly in Play Music!!

I want to try it in Spotify, but am not able to log in anymore (using facebook auth).

[2017-01-18 22:49] quanglam2807 commented on #20
@Rediwed it seems like it only works with some applications. As I understand, WebCatalog use Cast v2 while Google has already released v3. Google Play Music works because Google still uses the old version.

[2017-01-18 22:50] quanglam2807 commented on #20
GPMDP/electron-chromecast#40
electron/electron#7024

[2017-01-18 22:54] quanglam2807 opened #31 "OAuth doesn't work properly with Spotify"
@Rediwed

If click on the Facebook login button, WebCatalog will open the OAuth link with the default browser.

[2017-01-18 23:00] Rediwed commented on #20
Hmm, so v2 has been deprecated for services that have been updated to v3...

V3 is meant for increased ease of use and reliability, might not be hard for them to implement. Until such time we have to wait though..

Though @evancohen mentioned (electron/electron#7024) that v3 now built into chromium, shouldn't there be cross-compatibility as WebCatalog runs on chromium?

[2017-01-18 23:14] Rediwed commented on #20
So apparently, the cast funcitonality IS build into chromium.. Though the discory functionality is excluded, so it's basically useles!

[2017-01-19 01:00] rycon commented on #28
Here ya go
![image](https://cloud.githubusercontent.com/assets/8238505/22089364/ddb7b3ee-dda7-11e6-83cc-593da3feb56e.png)

Loading stylesheet: https://statics.teams.microsoft.com/hashedcss/stylesheets.min-7fe0afce.css
angular.min.js:117 2017-01-19T00:58:32.061Z Orchestrator: Could not find action registered with name: "callLogStore:startup"
(anonymous) @ angular.min.js:117
f.logMessage @ loggingSe

[2017-01-19 01:18] quanglam2807 commented on #28
@rycon I guest it's because Microsoft also uses Electron to build their desktop app so the website thinks WebCatalog is the app from Microsoft and tries to use some special components and causes the issues. I would try to change the user-agent of WebCatalog to see if it fixes the problem.

[2017-01-19 01:19] rycon commented on #28
cool thanks man!

[2017-01-19 01:20] quanglam2807 commented on #28
@rycon What about #29?

[2017-01-19 01:22] rycon commented on #28
I'm on my windows machine right now and the installed view works.  I'll login to linux in a bit and update that bug.

[2017-01-19 02:32] rycon commented on #29
Here you go!

curl 'http://pfl0lpv96s-dsn.algolia.net/1/indexes/*/objects?x-algolia-agent=Algolia%20for%20vanilla%20JavaScript%203.20.4&x-algolia-application-id=PFL0LPV96S&x-algolia-api-key=2b9f5f768d387b7239ce0b21106373e9' -H 'Origin: file://' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-GB' -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) WebC

[2017-01-19 02:43] quanglam2807 commented on #20
@Rediwed Yup, so this is the best we have at the moment. I will close the issue until we have something new to resolve it.

[2017-01-19 02:43] #20 closed

[2017-01-19 02:57] #28 closed

[2017-01-19 05:05] quanglam2807 commented on #28
@rycon Update is up now! Give it a try :)

[2017-01-19 13:52] rycon commented on #28
It works now!

[2017-01-20 00:28] rycon commented on #29
It's working now!

Just a heads up that the homepage hasn't been updated with the 2.8.1 files I had to manually update the url to get the latest installers.

[2017-01-20 03:17] quanglam2807 commented on #29
@rycon Fixed!! Thank you for letting me know.

[2017-01-26 14:35] natrim opened #32 "Change keyboard shortcuts settings"
would be nice to be able to change the default navigation keybindings
(the ones from View menu in createMenu.js (like back, forward, reload, fullscreen))

[2017-01-26 14:37] natrim opened #33 "Browser controls"
would be nice to navigate the open app (webpage) via mouse clicks
ie. adding browser controls to right click menu (togglable in settings)
or adding controls to app titlebar

preferably both
and ability to disable enable both or one

[2017-01-26 14:38] natrim opened #34 "Remember last open page"
would be nice if there was setting to enable to remember last open page and reopen on app relaunch

[2017-01-28 15:41] Rediwed opened #35 "Allow for multiple users in G Suite"
Please add the ability to add a gmail/drive/calendar user!

Now it opens the auth page in safari, which doesn't report back to webcatalog that auth was succesful. Maybe it's an idea to open auth in a self contained window within webcatalog?

[2017-01-30 07:57] quanglam2807 commented on #35
Fixed! :)

[2017-01-30 10:01] Rediwed commented on #35
Adding accounts works like a charm!
Except now, when switching between accounts it opens the new account in safari.. :(

(so when the new account is already added, and you want to switch it opens in new safari tab).

[2017-01-30 18:09] quanglam2807 commented on #35
@Rediwed I have fixed it in 2.8.4 but the solution might also affect other apps (both negatively and positively) so let's try and see.

[2017-01-30 18:09] #35 closed

[2017-01-30 18:11] quanglam2807 commented on #33
@natrim What do you think about swipe to navigate? I think it's better to keep the app as simple as possible. For me, WebCatalog is more like an app container, not a browser.

[2017-01-30 18:15] quanglam2807 commented on #33
@natrim #1

[2017-01-31 02:38] #1 closed

[2017-01-31 09:40] natrim commented on #33
swipe is useful for devices that have touch enabled controllers (touchpad, touchscreen, magic mouse)
 but somewhat problematic if you want to control the app inside with only mouse
  and the app has no own way to get back one step
 (or sometimes the app sends you to some external page and you cannot get back)

i like how it is done in Colibri browser (https://cdn1.tnwcdn.com/wp-content/blogs.dir/1

[2017-01-31 09:51] natrim commented on #34
seems to work, thx

[2017-01-31 09:51] #34 closed

[2017-01-31 20:21] quanglam2807 commented on #33
@natrim Colibri looks great but it would take a quite to implement similar functionalities as I need to redesign how WebCatalog works.

[2017-02-01 09:16] natrim commented on #33
i know, thats why i said it would be ok if the controls were only in right click menu
or trough right click gestures (like on opera, vivaldi or chrome with gestures plugin)

i guess it would be not too hard to create checkbox in settings that enables right click menu with back, forward and reload (and maybe home to get back on the app start page)

[2017-02-01 09:25] natrim opened #37 "Custom settings for app"
right now the settings are working globally for every app
it would be nice to be change settings per app

[2017-02-01 09:30] natrim opened #38 "Quit app on last window close (macOS)"
by default the app stays running if you close the last open window
(and opens new window if click its icon in dock)

but for some app it seems better if the app would quit with its last window

this would need issue #37 first thought (custom settings for app)

[2017-02-02 15:33] albertogcatalan opened #39 "OAuth doesn't work properly."
If click on the Attach from Google Drive in Trello, WebCatalog goes blank page and cannot back to Trello. This problem is persistent when reinstall app :(

[2017-02-02 19:11] quanglam2807 commented on #39
It's quite similar to #31. I think it's because WebCatalog doesn't not reproduce window.open() API correctly.

[2017-02-02 19:13] quanglam2807 commented on #38
@natrim I think it's better not to change it. It's a default behavior of macOS, isn't it?

[2017-02-02 20:36] natrim commented on #38
yes its default for most apps,
 but i prefer my apps closed when i click on the close button
as i when i click it i really want the app gone until later and not take slot in my dock

anyway its just one setting more and change to
` if (process.platform !== 'darwin') {
    app.quit();
  }`
to something like
`if (process.platform !== 'darwin' || settings.closeAppOnMac) {
    app.quit();
 }`
 in main

[2017-02-05 15:58] Rediwed commented on #38
@quanglam2807 Please DO NOT change this behaviour. macOS's power comes from it's universal behaviour in different applications (e.g. even though you've never used a certain app before you will already know how it works due to the design & behavioural language).

Or make a a opt-out thing.. I wouldn't want spotify to quit when i close the last window, I'd want it to continue playing music without a

[2017-02-06 18:46] quanglam2807 commented on #38
@Rediwed @natrim it won't be turned on by default. So everyone is happy. :)

[2017-02-10 09:46] mamuf opened #40 "Gmail reports unsupported Chrome version in WebCatalog 2.9.0"
Version 2.9.0 (2.9.0.166)

[2017-02-10 15:29] quanglam2807 commented on #40
@mamuf Thank you for reporting! It'll be fixed in 2.9.1

[2017-02-10 15:29] #40 closed

[2017-02-11 06:29] #38 closed

[2017-02-11 06:29] #37 closed

[2017-02-11 06:31] #16 closed

[2017-02-13 07:34] natrim commented on #37
works ok, but would be nice to have shortcut for settings
( default on mac is cmd+, and ctrl+p on windows )

[2017-02-13 07:48] natrim opened #41 "Ability to customise homepage"
It would be nice if we could define default page on the app in settings.

something like:
![home](https://cloud.githubusercontent.com/assets/488136/22874946/2fd2a33e-f1c9-11e6-91f7-e566d539cfed.png)

[2017-02-13 15:51] swrobel opened #42 "Twitter login attempts fail"
3.0.2 beta on Mac. The request seems to fail when inspecting, see below:
<img width="711" alt="screen shot 2017-02-13 at 8 50 29 am" src="https://cloud.githubusercontent.com/assets/157270/22890446/9db34f2a-f1c9-11e6-97ec-69b4b692d38f.png">

It seems that upon re-launching the app I'm logged in if not using login verification. If the account uses login verification, I get texted the verification co

[2017-02-16 07:01] #33 closed

[2017-02-16 07:56] natrim commented on #10
thats fixable by using binary instead of bash script
ie. golang binary: https://gist.github.com/natrim/04a0324ca6898619fad5579ef1facb68
compiled there: https://www.dropbox.com/s/yogkelfvkvrea65/Webcatalog?dl=1

(or you could use Swift or Rust or even C)

[2017-02-16 16:17] quanglam2807 commented on #10
@natrim I tried a similar method. It fixed the signing issue but it still doesn't work somehow. I'll test again with your code soon. It'd be better if there's an API or something to modify the behavior with code instead of dealing with a file hack like this.

[2017-02-16 19:13] quanglam2807 commented on #10
@natrim Better solution: Simply duplicate the executable file, but all the apps have to update to link to the duplicated executable. I don't remember why I did not do this (maybe to keep the apps' compatibility)

[2017-02-17 09:01] natrim commented on #10
to the Better solution

seems to work for me,
i just duplicated the WebCatalog_Real as Webcatalog
renamed the old WebCatalog_Real as WebCatalogLauncher
and resigned the app
then i changed the shortcut apps to use the WebCatalogLauncher
and it works

Edit: evidence here: https://www.dropbox.com/s/ispdn7uu5tvh7op/Archiv.zip?dl=1

[2017-02-17 16:15] quanglam2807 commented on #39
It also affects Moo.do

[2017-02-17 18:41] quanglam2807 commented on #10
@natrim The reason why I do it is because when you launch an app from Launchpad, if macOS detects that the executable is running, it won't start a new instance. In the case of WebCatalog, all the apps installed from it is actually just a script to open a new instance of WebCatalog executable file with some parameters. Because of this design, for example, if you are opening Messenger and try to ope

[2017-02-17 18:49] quanglam2807 commented on #10
@natrim Haha, whatever. Duplicating the executable seems working for me.

[2017-02-18 15:01] MarshallOfSound commented on #20
Someone pinged me this issue so I might be able to provide some insight into this.

The `electron-chromecast` module was designed purely to work with Google Play Music.  Some other sites work as well but the ChromeCast API isn't fully implemented.  I wouldn't be suprised (given the two apps listed that fail are video based apps) that we are missing API's specific to the `video` capability.

[2017-02-18 18:35] quanglam2807 commented on #31
Duplicate with #39. Closed.

[2017-02-19 03:21] quanglam2807 commented on #42
@swrobel I think it's also related to #39

[2017-02-19 03:37] quanglam2807 commented on #10
#43 3.1.1 is up with auto updater :)

[2017-02-19 21:14] quanglam2807 commented on #20
@MarshallOfSound Thank you very much +1. At least, it works with Google Play Music.

[2017-02-20 15:52] quanglam2807 commented on #25
@Rediwed Can you try again with the lastest update? Maybe the new version of Chrome has fixed the problem.

[2017-02-20 20:25] jottr commented on #7
@quanglam2807 see https://github.com/caskroom/homebrew-cask/pull/30265

[2017-02-20 21:40] quanglam2807 commented on #7
@jottr Awesome!!!!

[2017-02-20 21:57] quanglam2807 commented on #41
@natrim I think this would be part of a progress to make WebCatalog a browser. A user also sends me a email asking to open URL with WebCatalog.

[2017-02-20 23:49] quanglam2807 commented on #14
Fixed.

[2017-02-20 23:49] #14 closed

[2017-02-20 23:51] quanglam2807 commented on #22
@Rediwed This could be added easily, but should we turn it on by default or not? (To save battery).

[2017-02-21 00:28] #7 closed

[2017-02-21 12:11] Rediwed commented on #25
Sadly, it still triggers the discrete graphics card :(

[2017-02-21 13:02] natrim commented on #41
well, we are opening web apps so...
it's nothing so important though, i just wanted it to open certain vm in cloud9 on start

the alternative would be the issue #12
i could just make it its own shortcut

edit: now that i think about it, i can make it custom shortcut right now without the advanced mode
 (just some copy paste and editing of existing shortcut to have another icon and name)
though the

[2017-02-21 13:47] Rediwed commented on #22
Hmmm, that's a good question. Normally I'd say yes, add it as the default option (as it is default in MacOS). But it isn't default in Windows. SO I'd say make it default in macOS but not in Windows?

[2017-02-21 15:51] quanglam2807 opened #44 "Make every app installed from WebCatalog act like a browser"
As a user suggests, he would like open Trello URLs with Trello app (combining with Choosy https://www.choosyosx.com/). This could be done by modifying `Info.plist`.

[2017-02-21 17:25] quanglam2807 commented on #25
@Rediwed It seems like I've found the problem: https://developer.apple.com/library/content/qa/qa1734/_index.html

Beta is coming :)

[2017-02-21 17:44] Rediwed commented on #25
Great to hear!!!

[2017-02-21 21:11] quanglam2807 commented on #25
@Rediwed It's up now. Please try :)

[2017-02-22 00:49] swrobel commented on #42
This could be a possible solution: https://github.com/electron/electron/issues/3471#issuecomment-236368409

[2017-02-22 01:10] quanglam2807 commented on #42
@swrobel It works 👍

[2017-02-22 01:10] #42 closed

[2017-02-22 06:47] quanglam2807 commented on #25
@Rediwed The "fix" has been there since the beginning. So it won't fix the issue :(.

[2017-02-22 11:33] Rediwed commented on #25
Hmm, that's too bad. Maybe there's a way to force an application to use the integrated gfx card? I know gfxcardstatus actually has this ability.

[2017-02-22 20:08] quanglam2807 commented on #25
@Rediwed Haha, maybe I was right but I did configure the code incorrectly. You can try again with 3.2.1 (beta). After installing the update, opening WebCatalog first so it can update all the apps (including Google Keep) automatically. Then you can try again 👍 . Hope it works.

[2017-02-23 00:00] #22 closed

[2017-02-24 03:53] quanglam2807 commented on #44
Can somebody help write Swift or Go code to handle URL: http://www.academytimes.com/solved/3495103/how-do-you-set-your-cocoa-application-as-the-default-web-browser

Currently, I use AppleScript but it makes the app structure too complicated.

[2017-02-24 03:59] quanglam2807 commented on #44
http://rubyosa.rubyforge.org Ruby has it

[2017-02-27 05:16] quanglam2807 commented on #25
@Rediwed Please try https://github.com/webcatalog/desktop/releases/tag/v3.2.5. I'll reopen the issue if it still doesn't work properly.

[2017-02-27 05:16] #25 closed

[2017-02-27 16:16] Rediwed commented on #25
I tried 3.2.5, sadly it still triggered the discrete gfxcard..

[2017-02-27 16:24] quanglam2807 commented on #25
Can you upload the Info.plist at `~/Applications/WebCatalog Apps/Google Keep.app/Info.plist`?  

[2017-02-27 20:07] #44 closed

[2017-02-28 17:39] jottr opened #47 "Apps force closed "Could not automatically determine the current application's identifier""
Google Maps force closes immediately after launch.
`Webcatalog Version 3.1.1 (3.1.1.235)`

Is there a means to display debug information for Webcatalog Applications?

[2017-02-28 17:59] quanglam2807 commented on #47
@jottr Can you try 3.2.5? It works normally for me.

[2017-03-01 07:15] natrim commented on #47
happened the same to me in other apps, probably caused by crashing updater after release of 3.2.5
cause after manual update it works

Crashing on exception: Could not automatically determine the current application's identifier

[2017-03-01 13:52] quanglam2807 commented on #47
Thank you very much, @natrim. I have reproduced the bug. It's due the path of the alternative executable: https://github.com/webcatalog/desktop/blob/master/packager.js#L63

I'm working on a fix.

[2017-03-01 17:19] omartineau opened #49 "Download binary missing"
Hi,

The link to download wabcatalog didnt work.

[2017-03-01 18:29] quanglam2807 commented on #49
@omartineau Hi, thank you for reporting. There's a bug in the publishing process which causes the website to be updated out of control. It should work normally now.

[2017-03-01 18:29] #49 closed

[2017-03-01 18:29] #47 closed

[2017-03-05 07:09] eablokker opened #50 "Can't login to Asana using Login with Google"
The Google Login modal pops up for a second, then the main window displays the google login page. I enter my Google credentials, and then it asks me to enter my 2 factor authentication code. Once I do, it just takes me to a blank page. If I try to start over and login with google again, it just pops up the login modal for a second and then takes me right back to the blank page.

If I try to log in

[2017-03-05 07:16] eablokker commented on #50
I immediately found a workaround. If you click the Forgot Password link in Asana when logging in (in a web browser), you can reset your password and it will convert your Google login to an Asana login.

[Source: Managing your Account Settings](https://asana.com/guide/help/fundamentals/accounts)

[2017-03-05 17:43] quanglam2807 commented on #50
It's similar to #39. It also affects Spotify's Facebook login. So at the moment, I think your idea to convert to password login is great! I'll close this issue as we can discuss in #39.

[2017-03-06 11:27] joethephish commented on #41
+1 For this. e.g. https://www.groovehq.com/ (which doesn't exist on WebCatalog right now) uses custom domains in the `yourdomain.groovehq.com` format.

[2017-03-06 11:30] joethephish opened #51 "Asana app not working?"
Not sure whether it's because of the way authorisation works when you use a Google account, but Asana isn't currently working - after login, I just get a blank page :-(

It's a shame, because Asana recently stopped working in Fluid too, perhaps for similar reasons?

Great work on WebCatalog otherwise, love the concept!

[2017-03-06 11:31] joethephish commented on #51
Ah, this may be a duplicate of #39.

[2017-03-07 08:33] rstacruz opened #52 "Google Tasks doesn't open correctly"
![image](https://cloud.githubusercontent.com/assets/74385/23647951/760cdd24-0353-11e7-8a6c-e91df901e4b5.png)

I'm guessing it goes to https://gmail.com/tasks, which only works if your User-Agent is a mobile device.

Nevertheless, this URL works better: https://mail.google.com/tasks/ig?pli=1

[2017-03-07 16:00] Xeranor opened #53 "Change window title and icon based on app"
I'm currently on windows and using WebCatalog 3.2.7. It would be nice if the title bar icon and text would display the apps name and icon instead of "WebCatalog" and the WebCatalog Icon. Strangely the icon in the taskbar is displayed correctly.

[2017-03-07 17:16] quanglam2807 commented on #53
@Xeranor I haven't spent a lot of time on the Windows version yet. But I'll try to improve the UX and add this in the next update +1.

[2017-03-07 17:19] quanglam2807 commented on #52
@rstacruz Thank you very much for reporting. I have fixed it and you need to uninstall and reinstall Google Tasks.

[2017-03-07 17:19] #52 closed

[2017-03-07 17:20] quanglam2807 commented on #51
@joethephish Sadly, It's the same problem with #39. I'll close this issue so we can discuss in #39.

[2017-03-07 17:20] #51 closed

[2017-03-08 11:55] jorgegarmilla opened #54 "Whatever page?"
Is possible to make installable whatever web app or only the webs that are in a catalogue?... for example a web app that I can create for myself

[2017-03-08 14:40] quanglam2807 commented on #54
@jorgegarmilla Now, it's not possible but the feature has been planned. #12

[2017-03-08 14:40] #54 closed

[2017-03-08 14:41] quanglam2807 opened #55 "Hide title bar in full screen mode (macOS)"

[2017-03-08 14:42] quanglam2807 opened #56 "Add options to create desktop shortcuts automatically (Windows)"

[2017-03-08 15:00] ma1onso commented on #39
![screenshot from 2017-03-08 09-26-00](https://cloud.githubusercontent.com/assets/1877511/23709010/fa7c827a-03e5-11e7-84ae-d7c13352244a.png) feedly after the login with google

[2017-03-08 15:27] quanglam2807 opened #57 "Blank white page when using non-admin user (macOS)"
![](https://i.imgur.com/nn7Ogx5.jpg)

[2017-03-08 18:38] jottr opened #58 "Ad blocking"
Adblocking in webcatalog would be a nice to have for some sites, i.e. youtube.
Sadly electron won't support the Chrome extensions API.
The [min-project](https://github.com/minbrowser/min) solved this by creating a custom [abp-filter-parser](https://github.com/minbrowser/min/tree/master/ext/abp-filter-parser-modified).

[2017-03-08 20:04] quanglam2807 commented on #57
Actually, it causes by another reason.

[2017-03-08 20:04] #57 closed

[2017-03-08 20:52] quanglam2807 commented on #58
@jottr This is awesome! Actually adp-filter-parser is only to determine which requests to be blocked. This is the [needed code](https://github.com/minbrowser/min/blob/0a07a99415d8670e49c03a6e12d76a427784964e/main/filtering.js)

[2017-03-09 12:46] max-pub opened #59 "Turn WebCatalog into an app store"
I think you project is awesome!
You should include way more apps though and position this thing as an AppStore equivalent for WebApps!
maybe register something like webapp.store?

[2017-03-09 21:05] outwitevil opened #60 "Missing Code Signing Certificate (Windows)"
![symantec_webcatalog](https://cloud.githubusercontent.com/assets/294029/23770686/07745de8-04e2-11e7-9110-e8ef0dfe9a11.png)

Didn't see this mentioned anywhere else on here.
Not sure why but Symantec Endpoint Protection doesn't seem to like you.

[2017-03-10 02:19] jottr commented on #60
I don't see the point of optimising this application to play nice with antivirus snakeoil.
Even more so since [WS.Reputation.1](https://www.symantec.com/en/uk/security_response/writeup.jsp?docid=2010-051308-1854-99) simply gave you a false positive.

[2017-03-10 02:21] outwitevil commented on #60
I don't disagree but I cannot disable it.

[2017-03-10 03:16] quanglam2807 commented on #60
@outwitevil This is because the app is not signed with proper certification. It would cost around 300 USD a year.

https://github.com/electron-userland/electron-builder/wiki/Code-Signing
https://msdn.microsoft.com/windows/hardware/drivers/dashboard/get-a-code-signing-certificate

[2017-03-10 03:20] quanglam2807 commented on #59
@max-pub I will try to make a page to show all the apps on the website. But I think WebCatalog would be a better branding as Web App Store sounds very general. Also, webapp.store costs 6500 USD.

[2017-03-10 03:22] quanglam2807 opened #61 "Need contributors to help adding apps."
The number of users is growing pretty fast and there are a lot of app submissions. But at the moment, all the apps need to be added manually and I need somebody to help me with this.

[2017-03-11 05:35] quanglam2807 opened #62 "Tab support"

[2017-03-11 05:36] quanglam2807 opened #63 "WhatsApp freezes on startup"

[2017-03-11 05:37] quanglam2807 opened #64 "Password Manager support"

[2017-03-11 18:38] quanglam2807 opened #65 "Spotify offers less features on WebCatalog"
![ie](https://cloud.githubusercontent.com/assets/1548835/23825888/0f16abce-0658-11e7-9d88-8f6c2b514cd0.png)
![wc](https://cloud.githubusercontent.com/assets/1548835/23825889/0f19ef0a-0658-11e7-80c5-01a38ad0a2f9.png)

[2017-03-11 19:29] quanglam2807 opened #67 "Titlebar is missing (Windows)"

[2017-03-11 20:04] #67 closed

[2017-03-12 03:14] #55 closed

[2017-03-12 04:29] quanglam2807 commented on #53
@Xeranor Only page title can be updated as the API for icon doesn't work well enough. I'll close the issue.

[2017-03-12 04:29] #53 closed

[2017-03-12 05:02] #56 closed

[2017-03-12 18:56] quanglam2807 commented on #39
@alons45 So many people emailed me about this bug. But it seems like a tricky one to resolve.

[2017-03-12 19:00] quanglam2807 opened #68 "Taskbar icon changes when moving to another monitors (Windows)"

[2017-03-12 19:07] max-pub commented on #59
the naming is secondary...

more important is to support thousands of apps instead of just a few...

and maybe highlight the webapps that can be used offline...

[2017-03-12 19:19] quanglam2807 commented on #59
@max-pub Actually, right now, the backend I use for the app (https://github.com/webcatalog/backend) is very basic. I'm also planning to turn it into an app store but I will need to rewrite the backend. Having a proper backend will also allow WebCatalog to run on mobile devices (https://github.com/webcatalog/mobile). I'll try to start working on it during the summer as I am quite busy now. At the m

[2017-03-15 00:13] quanglam2807 opened #69 "Plank dock shows WebCatalog apps as the same grouped app with default icon"
icon. Could You please fix that issue?

![x](https://cloud.githubusercontent.com/assets/1548835/23927839/3cc7b9b6-08ea-11e7-842e-e04ae5bc4b8b.png)

[2017-03-15 00:43] quanglam2807 commented on #39
electron/electron#8100

[2017-03-15 01:06] quanglam2807 opened #70 "Feedly OAuth doesn't work."
@alons45 reported in #39

[2017-03-15 01:37] jjnilton opened #71 "Netflix not playing videos on Linux build 3.3.0"
When I try to play the video from Netflix it does not work:

![image](https://cloud.githubusercontent.com/assets/228200/23929688/9537c778-0906-11e7-9ccd-24ba086c6bd3.png)

Also, is there a way to hide menu bar?

[2017-03-15 03:27] quanglam2807 commented on #71
@jjnilton Can you share the log? It would help a lot.

[2017-03-15 17:17] quanglam2807 commented on #70
Fixed :)

[2017-03-15 17:17] #70 closed

[2017-03-15 18:01] quanglam2807 commented on #71
@jjnilton Chrome 57 makes it much harder to locate plugin files so I think I have to remove WideVineCDM in the upcoming update to keep the development forward.

[2017-03-15 18:26] quanglam2807 commented on #65
It's probably because Flash is not configured properly. Reopen if it still exists in 3.4.0.

[2017-03-15 18:26] #65 closed

[2017-03-15 18:51] jjnilton commented on #71
@quanglam2807 where can I find the logs?

From developer tools I could get the console log when I try to play the video:

[code]

[2017-03-15 18:52] quanglam2807 commented on #71
@jjnilton That's the one I'm looking for.

I am sorry but Google removes chrome://plugins so now it's quite difficult for me keep updating the Chrome plugins. I may have to remove Netflix support in the next update :(

[2017-03-15 22:49] ma1onso commented on #70
Waiting new build :dancer:

[2017-03-16 02:52] quanglam2807 commented on #71
@jjnilton I'm sorry. It's official, WidevineCDM together with Netflix will be removed.

[2017-03-16 02:52] #71 closed

[2017-03-16 08:39] natrim commented on #61
its just adding json and image to https://github.com/webcatalog/backend right?

i don't mind helping when i have some time

[2017-03-16 11:50] jjnilton commented on #71
Ok @quanglam2807, thank you. Let's hope there will be some workaround in the future.

[2017-03-16 15:07] pierrenel opened #73 "Add back WidevineCDM (Netflix)"
Ummmm what happened to Netflix? 🤔

[2017-03-16 15:18] quanglam2807 commented on #73
#71 @pierrenel @jjnilton Now, WidevineCDM plugin which is required to run Netflix, is removed. This is because the technology is not open-source and it takes a lot of time to keep updating the plugin manually.

Removing it allows the plugin allows me to keep development forward. But I'll keep this issue open because as soon as I figure out a way to automate the process, I'll bring it back.

[2017-03-16 17:15] quanglam2807 commented on #61
@natrim Precisely. But I need to give you access to the Google Spreadsheet form. Do you use WhatsApp, Facebook Messenger or Skype?

[2017-03-16 18:28] natrim commented on #61
sent you mail

![dash_glass100](https://cloud.githubusercontent.com/assets/488136/24012570/c3d68212-0a7e-11e7-931f-93e769a705b8.png)

[2017-03-16 19:59] miosz commented on #69
It happened on Linux Mint with Xfce Desktop Environment.

[2017-03-17 03:17] quanglam2807 commented on #73
https://github.com/webcatalog/electron-widevinecdm I'm working to bring it back :)

[2017-03-17 03:54] #63 closed

[2017-03-17 03:55] #61 closed

[2017-03-17 16:27] adioni opened #74 "Windows 64-bit version of 3.4.0 not working"
After webcatalog is setup and I install, for example 'Google Inbox', clicking Open does nothing. If I navigate to `%userprofile%/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/WebCatalog Apps` and double click on the shortcut there, it says it cannot find `webcatalog.exe`

Version 3.3.0 works fine.

[2017-03-17 17:31] quanglam2807 commented on #74
@adioni This is a very serious bug. I'll try to fix it ASAP.

[2017-03-17 18:36] quanglam2807 commented on #31
Spotify is no longer supported (no Flash).

[2017-03-17 18:36] #31 closed

[2017-03-17 18:46] quanglam2807 commented on #74
It's because I added 32-bit support and the build script messed up the Setup file. Thanks for reporting :)

[2017-03-17 18:46] #74 closed

[2017-03-18 05:05] #73 closed

[2017-03-18 22:49] quanglam2807 commented on #69
@miosz It seems tricky as I cannot reproduce the bug on Ubuntu Unity and elementaryOS. Installing Xfce now.

[2017-03-19 00:04] quanglam2807 commented on #69
@miosz Ok. I think it's because of how Plank detects app launch from the menu. It works normally with the task bar on Linux Mint.

And if you launch an app from WebCatalog, it works normally.

<img width="1280" alt="screen shot 2017-03-18 at 7 01 28 pm" src="https://cloud.githubusercontent.com/assets/1548835/24077019/c1258474-0c0d-11e7-92b7-776428d51dfe.png">

[2017-03-19 00:06] quanglam2807 commented on #69
WebCatalog use `gtk-launch` command https://github.com/webcatalog/webcatalog/blob/f469a4bdca30b7909f8c9a51c3799003914f55f1/ui/store/components/Card.js#L59

[2017-03-20 15:36] swrobel opened #82 "Status bar or other method to see the URL of links"
Just like Chrome will show the URL of a link on hover in the bottom left, it would be nice to have the same in WebCatalog.

<img width="560" alt="screen shot 2017-03-20 at 8 36 17 am" src="https://cloud.githubusercontent.com/assets/157270/24107572/58b04bea-0d48-11e7-8465-6ba837c5965c.png">

[2017-03-22 00:05] quanglam2807 opened #83 "Box doesn't remember login session"
Cookies & session data remains untouched but Box still asks users to sign in again. Related to Electron.

[2017-03-23 02:41] #41 closed

[2017-03-23 02:42] quanglam2807 commented on #41
Will be available in the next update :)

[2017-03-23 02:42] quanglam2807 commented on #82
@swrobel It seems like WebCatalog is turning into a browser :)

[2017-03-23 05:11] quanglam2807 opened #85 "Add CLI support"
#12

[2017-03-23 06:05] jordancohn opened #86 "draw.io struggling with Google Drive authentication"
The page opens for a second and closes again. I think it's similar to other bugs but not sure how to work around it..
<img width="1281" alt="screen shot 2017-03-23 at 5 04 22 pm" src="https://cloud.githubusercontent.com/assets/12727765/24234120/c8dd658e-0fea-11e7-8342-78207cc7d41f.png">

[2017-03-23 08:45] mecrip opened #87 "Add multi account possibility"
Webcatalog should allow to have multiple isolated installations for a webapp each one using a different stored login: i.e: multiple facebook account, multiple microsoft account.. etc

[2017-03-23 16:44] quanglam2807 commented on #58
:) Tada! Done.

[2017-03-23 16:46] quanglam2807 commented on #87
I think this can be implemented together with #62. Each tab will use independent session, storage, etc.

[2017-03-23 17:05] quanglam2807 commented on #86
@jordancohn I've found a fix for this bug. It wouldn't take too long :)

[2017-03-23 17:09] quanglam2807 commented on #13
@natrim

preferably something simple like js/css inject to the webframe on page load
with only big textarea in settings that gets injected

[2017-03-23 17:44] miosz commented on #69
How can I help You to solve the issue? I Was using Fogger before WebCatalog and icons were shown normally.

[2017-03-23 17:52] quanglam2807 commented on #69
@miosz WebCatalog works differently from Fogger, Nativefier and Fluid. For example, if you install an app from Fogger, it will generate completely independent Linux package but WebCatalog only installs a shortcut (linked to itself with some specific instructions).

I think the best way is to contact somebody from the Plank development team so we can discuss how to implement the shortcut correctly.

[2017-03-23 18:36] miosz commented on #69
I have updated Plank to newest version but it didn't solve the case. Maybe libplank API documentation could help You to solve the issue? http://people.ubuntu.com/~ricotz/docs/vala-doc/plank/index.htm

[2017-03-24 01:09] quanglam2807 commented on #12
Done :)

[2017-03-24 01:09] #12 closed

[2017-03-24 03:24] jordancohn commented on #86
can't wait! will make my life a whole lot easier and thank you for this app 🙂

[2017-03-24 21:22] #13 closed

[2017-03-27 19:23] quanglam2807 commented on #69
@miosz It doesn't help at all. Can you contact Plank development team or provide me a way to contact them?

[2017-03-28 02:51] miosz commented on #69
Answer contacts for Plank
Rico Tzschichholz
https://launchpad.net/~ricotz

[2017-03-28 07:09] RoddeRodRod opened #89 "Sorting in Home View"
It would be great if you could sort the apps in the home view like:
- last added
- Most installed

I was scrolling everything once but never again und wouldn't find any new apps ..

[2017-03-30 22:24] swrobel commented on #82
It's useful to know if the link is going to open in the current WebCatalog app or the default browser: https://github.com/webcatalog/webcatalog/blob/master/src/ui/ssb/components/App.js#L135

[2017-04-01 12:22] jottr commented on #32
The [vimium-project](https://github.com/philc/vimium) might be of interest here.

[2017-04-01 12:31] jottr opened #91 "Adds Homebrew cask update automation"
Just a heads-up:

I'm making this an issue, since I wouldn't know where else to put it.
Sadly homebrew still requires us to manually bump the cask version on each new release.
I'm currently doing this with the `cask-repair`-script, as per the homebrew [documentation](https://github.com/caskroom/homebrew-cask/blob/master/CONTRIBUTING.md#updating-a-cask).

Maybe `cask-repair` should be run on each n

[2017-04-03 09:43] natrim opened #92 "Updater is not reporting new version"
the dialog says: Version **undefined** is downloaded and will be automatically installed. Do you want to quit the app to install it now?

[2017-04-03 14:21] natrim opened #93 "Wrong icon in Windows on titlebar"
well the icon is the webcatalog icon, because windows displays the icon of the binary app running

this one is fixable by removing the default windows titlebar and using custom one like on mac
(just with controls on right)

if the problem of missing menu is here, then the solution is to move it to right click menu
or just adding one more icon in titlebar that would open dropdown menu

[2017-04-05 02:50] quanglam2807 opened #94 "ICNS does not included all needed icon sizes"
ic11	varies	32	10.8	16x16@2x "retina" icon in JPEG 2000 or PNG format
ic12	varies	64	10.8	32x32@2x "retina" icon in JPEG 2000 or PNG format
ic13	varies	256	10.8	128x128@2x "retina" icon in JPEG 2000 or PNG format
ic14	varies	512	10.8	256x256@2x "retina" icon in JPEG 2000 or PNG format

<img width="651" alt="screen shot 2017-04-04 at 10 39 03 pm" src="https://cloud.githubusercontent.com/assets/1548

[2017-04-05 09:42] adambowles commented on #69
Same thing occurs in Gnome3, all my WebCatalog apps are grouped in one entry in the dock.

[2017-04-05 09:57] adambowles opened #95 "Missing icon in Fedora / Gnome3"
OS: Fedora Linux 4.4.14-200.fc22.x86_64
Gnome-shell version: GNOME Shell 3.16.4

Installed via `.rpm` package

![screenshot from 2017-04-05 10-55-53](https://cloud.githubusercontent.com/assets/10128574/24700276/89cfc252-19ee-11e7-8eeb-6177b52c2d24.png)

(That YNAB is installed via WebCatalog fyi)

[2017-04-06 16:34] quanglam2807 commented on #95
@develar Is this bug related to `electron-builder`?

[2017-04-06 16:36] develar commented on #95
@quanglam2807 Does it work on ubuntu?

[2017-04-06 16:42] quanglam2807 commented on #95
The last time I tested, I worked. I'll try again so you don't need to waste your time.

[2017-04-06 19:16] miosz commented on #69
@quanglam2807 did you worked it out?
Today I have installed Gmail app and noticed that Plank displayed proper icon in dock.
I have uninstalled and installed Hangouts and now it works fine :)
![przechwycenie obrazu ekranu_2017-04-06_21-11-19](https://cloud.githubusercontent.com/assets/26469183/24771381/b93b2f5c-1b0d-11e7-8821-d10cd18424f8.png)

[2017-04-06 19:30] quanglam2807 commented on #69
@miosz That's weird. I haven't changed anything.

[2017-04-06 19:36] miosz commented on #69
@quanglam2807 excuse me, seems like it works only for the first run:
![przechwycenie obrazu ekranu_2017-04-06_21-32-42](https://cloud.githubusercontent.com/assets/26469183/24772189/a461c520-1b10-11e7-9ae6-ee1c83ea0d55.png)
To make it work You have to "pin" icon after first run.

[2017-04-06 22:02] miosz commented on #69
Additional info - webcatalog app is shown as grouped gmail icon (two dots):
![przechwycenie obrazu ekranu_2017-04-07_00-00-46](https://cloud.githubusercontent.com/assets/26469183/24777365/5757f6fe-1b25-11e7-97e2-21ef00325d3f.png)

[2017-04-07 19:08] quanglam2807 commented on #94
Won't fix because Custom app feature is removed.

[2017-04-07 19:08] #94 closed

[2017-04-07 21:12] quanglam2807 commented on #69
Should be fixed in the next release. If not, I will reopen the issue.

[2017-04-07 21:12] quanglam2807 commented on #95
@develar It works normally with Ubuntu (.deb)

[2017-04-07 21:19] quanglam2807 commented on #91
@jottr The command look quite confusing for me.  Can you make a PR?

[2017-04-07 22:59] quanglam2807 commented on #82
Tada :)

[2017-04-07 22:59] #82 closed

[2017-04-07 23:04] #92 closed

[2017-04-07 23:08] quanglam2807 commented on #89
@RoddeRodRod It would be added together with #59.

[2017-04-07 23:08] #89 closed

[2017-04-08 03:42] #93 closed

[2017-04-09 07:59] natrim opened #96 "Needs a way to regenerate icons or reinstall app shortcut"
Well one weird bug here.

On windows i cleaned my disk with Disk Cleaner (its a default W. app)

And all icons in webcatalog shortcuts are gone.

So i tried unistalling them and then adding them back, which sadly removed all app data.
So it would be nice to have reinstall button which will not remove the app data and then uninstall and install the app anew.
(ie. dont remove the "persist:" storage

[2017-04-09 14:50] quanglam2807 commented on #96
@natrim The icons are stored in temp folder so they are deleted by Disk Cleaner. I'll move them to a persistent location and everything will be fixed.

[2017-04-09 15:01] #68 closed

[2017-04-09 15:01] #96 closed

[2017-04-09 16:04] natrim commented on #96
ok

just update on the missing paper icon
the icon sudenly apeared
![schranka 02](https://cloud.githubusercontent.com/assets/488136/24838756/bdbbf0b4-1d4e-11e7-9d6d-e67adc4c443a.png)

but it has weird black fragments (and the gitter gained them too though before it was ok)
its probadly some unfixable weirdness in windows

[2017-04-09 17:17] quanglam2807 commented on #96
@natrim Wait for 4.1.1 :)

https://github.com/webcatalog/webcatalog/releases/tag/v4.1.1

[2017-04-09 17:19] natrim commented on #96
![derpyderp100](https://cloud.githubusercontent.com/assets/488136/24839368/5fc499ec-1d59-11e7-8b8f-89b2bf745191.png)

[2017-04-09 17:41] natrim commented on #96
@quanglam2807 ok i updated to the 4.1.1 alpha and the updating does not work .)

it says Update error: Cannot find module 'js-yaml'

(it even says the same during installing of new app)

plus apps have no titlebar and error

Uncaught TypeError: Cannot read property 'then' of null
    at window.onload (AppData\Local\Programs\WebCatalog\resources\app.asar\app\preload.js:1)
core_external.current.Y0wY

[2017-04-09 17:49] quanglam2807 commented on #96
@natrim Copy that. There's something wrong with the build process.

[2017-04-09 19:03] jottr commented on #91
I'm in the process of figuring out if there is a better method than the `cask-repair` script for automated pull-requests.

[2017-04-09 19:09] jottr commented on #59
The people of [wmail](https://thomas101.github.io/wmail/) are doing something quite interesting with their project, renaming it to [wavebox](https://wavebox.io), keeping it on github but also trying to monetise ist at the same it.
They seem to position wavebox as some sort of app store.
Not sure if it's a smart move, but interesting to watch nonetheless.

[2017-04-10 04:30] adidalal commented on #91
You can script `cask-repair` (details in [CONTRIBUTING](https://github.com/caskroom/homebrew-cask/blob/master/CONTRIBUTING.md))

For example, after performing a release, just run
`cask-repair -b -v {{new_version}} webcatalog` - that'll update the Cask file and open up a PR in HBC (which should be quickly merged) for you.

[2017-04-10 11:45] jottr commented on #91
Thx @adidalal, I was hoping to find a method which requires less dependencies. I.e. `cask-repair` installs `hub` if it isn't installed.

[2017-04-11 00:19] Paulser opened #97 "Icon Issue on Windows & Task Bar - KDE Neon - (Ubuntu 16.04)"
Icon Issue on windows and task bar. It shows the default icon. Picture example of issue is below.

![screenshot_20170411_005707](https://cloud.githubusercontent.com/assets/20326940/24887311/ba6dcedc-1e52-11e7-896b-147573da84a5.png)

The system has the icons in the menu system on KDE Neon fine. I have added a gif file to show the icons below.

![correcticonsonsystemmenu](https://cloud.githubusercon

[2017-04-11 00:24] quanglam2807 commented on #97
Looks similar to #69. Can you try 4.1.1 (alpha) and let me know if it works?

[2017-04-11 00:34] Paulser commented on #97
@quanglam2807 Yes of course please provide the download link for alpha? I am reviewing your website for it.

Thanks for the support

[2017-04-11 00:35] quanglam2807 commented on #97
@Paulser https://github.com/webcatalog/webcatalog/releases/tag/v4.1.1
Thank you very much. :)

[2017-04-11 00:44] Paulser commented on #97
@quanglam2807 I am having a loads other graphical problems with the app now but it is an alpha. I try again but I do complete purge and maybe restart before reinstalling. I have not managed to reinstall an app yet to test alpha.

[2017-04-11 00:52] adidalal commented on #91
Hub is used to do auto-forking of the repo, IIRC. You should be able to pull a slightly older version from the tinyscripts repo, that shouldn't have any dependencies.

[2017-04-11 01:27] Paulser commented on #97
@quanglam2807 I cant seem to get any app installed through the alpha sorry. Want me to raise another issue for the alpha since it not really related?

[2017-04-11 01:31] quanglam2807 commented on #97
@Paulser  I'll start debugging. You don't need to create another issue. It's fine. I made some critical changes so some problems occur.

[2017-04-11 01:37] Paulser commented on #97
@quanglam2807 I have to go at the moment. I will review this report later thanks for the support.

[2017-04-11 19:36] jasjeet86 opened #98 "Cannot set property 'forceClose' of undefined"
![screen shot 2017-04-11 at 3 34 33 pm](https://cloud.githubusercontent.com/assets/6365356/24927285/870d2068-1ecc-11e7-80bb-e3a0af79e515.png)

[2017-04-11 19:51] quanglam2807 commented on #59
@jottr I am considering to do the same thing. I will keep the app open source, even the paid features. Of course, somebody can just fork the project and make it completely free but very unlikely. The money will allow me to run a proper Node.js backend instead of relying on GitHub and CI. But first, I will try to improve the app. +1

[2017-04-11 19:52] quanglam2807 commented on #98
@jasjeet86 Thanks for your donation :). What version are you using?

[2017-04-11 20:14] hubbuddy1 commented on #98
You deserve more donations . 4.0.3

Sent from my iPhone

[2017-04-11 21:35] quanglam2807 commented on #98
Fixed in 4.1.

[2017-04-11 21:35] #98 closed

[2017-04-11 23:25] Paulser commented on #97
tested: https://github.com/webcatalog/webcatalog/releases/tag/v4.1.2

@quanglam2807 I have tested this issue on Windows & Ubuntu. The icon on the window is now not an issue because in the alpha you have removed the icon on the left of the windows. which looks good.

I am still getting the same issue that icons are not appearing in the task bar for Windows 10 & KDE Neon Ubuntu 16.04.

Examples are

[2017-04-12 03:43] quanglam2807 opened #99 "Windows 32-bit support"

[2017-04-12 19:33] Paulser commented on #97
Tested: https://github.com/webcatalog/webcatalog/releases/tag/v4.1.3

Windows 10 - Each app has got it's own icon that works really well on this update. (Shame I do not use the OS that often)

![windowsiconsworks](https://cloud.githubusercontent.com/assets/20326940/24974867/92ef2116-1fbb-11e7-96de-52671601270b.gif)

Ubuntu 16.04 (KDE Neon) - Icon issue still on this update on Ubuntu 16.04 KDE Neon

[2017-04-13 07:35] fatihturan opened #100 "Pin to Statusbar Feature on MacOS"
Can you implement a feature for [pinning app into Statusbar on MacOS like FluidApp](https://cl.ly/k0AV)?

[2017-04-13 07:45] fatihturan opened #101 "Losing Input/Textarea Focus on Changing Active Window"
I'm losing focus on textarea (or input) field if I change the current Webcatalog app to another some Mac App and returning again to Webcatalog app. I created [a screencast for this problem](https://cl.ly/jzrj).

[2017-04-13 07:46] fatihturan opened #102 "Provide an Option to Enable Right Click Menu"
Sometimes I need default right click menu on some Webcatalog apps. Can you provide an option to enable right click menu?

[2017-04-13 08:09] fatihturan opened #103 "Inner Statusbar to See URL of Links"
Can you provide an option to show [inner status bar like Chrome](https://cl.ly/jzmq) to see URL of links?

[2017-04-13 14:36] quanglam2807 commented on #103
Similar to #82. Will be available in 4.1.

[2017-04-13 14:36] #103 closed

[2017-04-13 19:02] Paulser commented on #97
@quanglam2807

Tested: https://github.com/webcatalog/webcatalog/releases/tag/v4.1.4

Ubuntu KDE Neon - User Edition - Plasma 5.8 Desktop

Same issue as reported on v4.1.3 icons not appearing on task bar.

Also icons not splitting from each other but this not big issue.

[2017-04-13 19:14] Paulser opened #104 "Recommend Change Office 365 Outlook Web App Icon"
I recommend you change icon for the web app:

Office 365 Outlook
outlook.office365.com

This is to similar to Outlook.com > outlook.live.com.

This is not great if you are using both.

Since Office 365 Outlook kinda has Exchange backend you could use that icon. Exchange Online uses this icon which is just Office 365 sort off.

![images](https://cloud.githubusercontent.com/assets/20326940/25020260/

[2017-04-14 09:25] quanglam2807 commented on #104
@natrim Can you have a look?

[2017-04-14 13:05] Paulser commented on #97
@quanglam2807

Tested: https://github.com/webcatalog/webcatalog/releases/tag/v4.1.5

Ubuntu KDE Neon - User Edition - Plasma 5.8 Desktop

Same issue as reported on v4.1.3 icons not appearing on task bar.

Also icons not splitting from each other but this not big issue.

[2017-04-14 13:23] Paulser opened #105 "Adds FIDO U2F support"
This just feature request if this could be possible.

Dont expect this soon at all.

https://www.yubico.com/about/background/fido/

[2017-04-14 16:39] quanglam2807 opened #106 "Lose keyboard focus on Alt-Tab"

[2017-04-15 20:52] #60 closed

[2017-04-17 22:36] swrobel opened #108 "Installing an app immediately shows an update is available"
WebCatalog 4.1.10
macOS 10.12.4

Installed Tweetdeck just now, update button appears. Click update button. Progress bar appears for a second. Update button reappears. All of my installed apps show the update button, but it doesn't seem to do anything.

[2017-04-18 00:18] quanglam2807 commented on #108
@swrobel Thank you for reporting. Should be fixed with https://github.com/webcatalog/webcatalog/commit/d050821660664d6fff07ae4a38035615863d7f16 and 4.1.11

[2017-04-18 00:18] #108 closed

[2017-04-18 00:25] quanglam2807 commented on #106
#101

[2017-04-18 00:25] #106 closed

[2017-04-18 00:29] #104 closed

[2017-04-18 11:04] adambowles opened #110 "Installed apps are not rediscovered properly when reinstalling WebCatalog"
OS: Fedora Linux 4.4.14-200.fc22.x86_64
Gnome-shell version: GNOME Shell 3.16.4
WebCatalog version: 4.1.11

Installed via `.rpm` package

Installed some apps via WebCatalog, and they get shown in the WebCatalog `installed` dashboard, as expected. These apps can also be found using Gnome Shell

When removing WebCatalog via Fedora's software manager and reinstalling the `.rpm` package, WebCatalog's

[2017-04-18 11:05] adambowles commented on #110
Where are the WebCatalog apps stored in Linux, so I can manually remove and reinstall them?

Edit: Found install location (`~/.local/share/applications`) via https://github.com/webcatalog/webcatalog/releases/tag/v4.1.5

[2017-04-18 14:35] quanglam2807 commented on #110
@adambowles Did you manage to fix it? I am sorry. It was because of a bad technical decision in the beginning.

[2017-04-18 14:37] adambowles commented on #110
Nope, I can't get it to rediscover previously installed apps through a reinstall

I discovered originally this through updating the app, but thought that was due to the 4.1.5 linux breaking change

[2017-04-18 14:41] quanglam2807 commented on #110
@adambowles So even if you reinstall the app, it won't work?

[2017-04-18 15:46] adambowles commented on #110
Correct

[2017-04-23 20:15] adambowles opened #111 "DeviantArt is misspelled"
![screen shot 2017-04-23 at 21 14 20](https://cloud.githubusercontent.com/assets/10128574/25317102/db2c78fa-2869-11e7-8624-1d10ac1f5357.png)
"DevianArt" instead of "Devian**t**Art"

[2017-04-23 20:18] quanglam2807 commented on #111
@adambowles https://github.com/webcatalog/webcatalog-backend/commit/7b379dca55a860b9165d5027ad183587a39e6f11

[2017-04-23 20:18] #111 closed

[2017-04-23 20:19] quanglam2807 commented on #111
I am rewriting the backend so I won't change the `id` of the app as the old backend repo will be obsolete soon.

[2017-04-24 19:11] quanglam2807 commented on #110
@adambowles I cannot launch WebCatalog after installation. Did you have similar issue?

[2017-04-24 19:14] adambowles commented on #110
@quanglam2807 I've not encountered that

[2017-04-24 19:20] #110 closed

[2017-04-24 19:21] adambowles commented on #110
Nice, I'll test next release when it is available @quanglam2807

[2017-04-24 22:45] rhoconlinux opened #112 "Hides menu bar"
Hi there,

It would be awesome (and apparently not difficult at all) to include an option in "View" menu to hide the menu. This contributes to get a neat integration in any OS and theme/mod used in each particular environment.

Typically this function is associated with F8 or F11 keys (show/hide menu). Hope we can get it!

Thanks in advance and good work!

[2017-04-24 22:52] quanglam2807 commented on #112
@rhoconlinux It won't be too difficult to implement. But right now, as I am rewriting the backend server, it will take a while until the next major release.

[2017-04-25 14:49] poochie89 opened #113 "Adds option to create custom apps"
There does not seem to be an option to create Apps/Websites if they are not listed.
Would be nice, not all of my websites are available. Btw. I am aware of the "submit app" possibility.

[2017-04-25 19:50] quanglam2807 commented on #113
#12

I have implemented the feature before but decided to remove it as the libraries the app relied on were not stable enough. It'll be back with 5.0.

[2017-04-25 19:51] quanglam2807 commented on #102
@fatihturan What should I add in the right click menu?

[2017-04-26 02:59] quanglam2807 commented on #110
@adambowles Please test https://github.com/webcatalog/webcatalog/releases/tag/v4.1.12

[2017-04-26 08:00] adambowles commented on #110
@quanglam2807 Yep works as expected, it found my installed apps after updating

[2017-04-26 09:30] fatihturan commented on #102
Hi, menu items could be:

- Back/Forward
- Copy Selected URL
- Copy Current URL

Thanks for your interest.
On Tue, 25 Apr 2017 at 22:51, Quang Lam <notifications@github.com> wrote:

[2017-04-30 13:48] natrim commented on #102
just thing that is not really relevant to this but it works and i use it:

you can make your own menu thanks to the js injection
example menu (just open setting and put it in the inject js textarea):

`var wrap = document.createElement("DIV");
wrap.style.display = "none";
wrap.style.position = "fixed";
wrap.style.top = "50%";
wrap.style.left = "50%";
wrap.style.webkitTransform = "translate(-50%, -

[2017-05-01 06:31] quanglam2807 commented on #112
@rhoconlinux I remember that Firefox and Chrome used to have a keyboard combination to hide/show the menu. Does it sound sufficient for you?

[2017-05-01 06:32] quanglam2807 commented on #105
@Paulser It has Chrome extension so it is possible. https://chrome.google.com/webstore/detail/fido-u2f-universal-2nd-fa/pfboblefjcgdjicmnffhdgionmgcdmne/reviews?hl=en

[2017-05-01 10:46] Paulser commented on #105
Sounds great not sure what causing me this issue then. The webcatalog apps do not seem to recognise FIDO U2F is an option or there is an issue on the linux version have not tried windows. Github account fails and the Fastmail just uses text instead.

Tested on v4.1.12

![spectacle h18683](https://cloud.githubusercontent.com/assets/20326940/25578130/a6b945a8-2e63-11e7-9cc8-8970c213ea29.png)

![spec

[2017-05-02 05:58] quanglam2807 commented on #105
@Paulser Currently, WebCatalog uses Electron as its framework. It still uses Chromium as the core but many Chrome APIs are removed. I am working to move the framework to muon which Brave Browser is using. By doing that, it would be much more usable as a browser.

[2017-05-02 08:52] natrim opened #114 "Confirmation dialog on app uninstall"
It would be nice to have confirmation dialog on custom app uninstall.

(Today i accidentally removed app, instead on clicking on open and it removed all my data...)

[2017-05-02 08:59] fatihturan opened #115 "Changing Browser's User Agent"
Hi,

It can be very useful to changing browser's user agent value to something else [like Fluid app](https://cl.ly/kGEL). Because sometimes I want to see mobile version of some sites like Reddit for simple interface.

[2017-05-03 04:03] #59 closed

[2017-05-03 17:55] quanglam2807 opened #116 "Migrate apps to new server"
- [x] 1password.json
- [x] acorns.json
- [x] airdroid.json
- [x] airtable.json
- [x] amazon-alexa.json
- [x] amazon-au.json
- [x] amazon-br.json
- [x] amazon-ca.json
- [x] amazon-cn.json
- [x] amazon-co-uk.json
- [x] amazon-de.json
- [x] amazon-drive.json
- [x] amazon-es.json
- [x] amazon-fr.json
- [x] amazon-fresh.json
- [x] amazon-in.json
- [x] amazon-it.json
- [x] amazon-jp.json
- [x] amazon-mu

[2017-05-04 14:02] rhoconlinux commented on #112
@quanglam2807 yes! that would be AWESOME!
Thanks for the feedback and the continuous work.
Cheers!

[2017-05-07 06:34] #116 closed

[2017-05-07 20:47] quanglam2807 commented on #112
@rhoconlinux I'll resolve this issue in version 5.1.

[2017-05-15 18:31] Gandalf888 opened #117 "Downloading files without extensions"
Sorry, my English is not the best...

Websites like Facebook and Gmail allow you to save files. Unfortunately, when saving these files from the webcatalog does not appear extension and need to manually add. The problem is all files, not just photos or documents.

[2017-05-17 06:49] balmes-io opened #118 "Tmetric doesn't work"
That is the screen I get after login in Tmetric App
![captura de pantalla 2017-05-17 a las 8 48 22](https://cloud.githubusercontent.com/assets/3216169/26141753/b91a4ac2-3add-11e7-9332-a437a52052b5.png)

[2017-05-21 15:27] quanglam2807 commented on #118
@balmes-io WebCatalog rendering engine is not fully Chrome-like so it causes this issue. I'll try to fix it ASAP.

[2017-05-21 15:28] quanglam2807 commented on #117
@Gandalf888 What OS are you using? I tested the app on Mac and it works normally for me.

[2017-05-21 19:36] ghost commented on #117
@quanglam2807 Windows 10. Below is a link from the download window from gmail. WebCatalog version 5.1.1
http://wstaw.org/m/2017/05/21/catalog.png

[2017-05-22 12:00] jottr commented on #26
I still have no idea how this could be achieved, but I would like to argue that this issue should be bumped in criticality.

Since webcatalog aims to create native style applications, which behave like proper desktop applications, it should adhere to a platforms UX standards.

What can we do to resolve this issue?

[2017-05-22 16:07] quanglam2807 commented on #26
@jottr I think the best solution is to use native binaries. Now each app installed from WebCatalog uses shortcut file (on Windows) or bash file (Mac & Linux) to trigger. Those apps will open webcatalog binary with specific parameters. Because of this, it's very limited to control the behaviors of the apps.

So instead of using bash script, if we can compile a proper binary for every app, it would

[2017-05-23 04:31] quanglam2807 commented on #115
Done :)

[2017-05-23 04:31] #115 closed

[2017-05-23 04:53] quanglam2807 commented on #114
<img width="415" alt="screen shot 2017-05-22 at 11 53 35 pm" src="https://cloud.githubusercontent.com/assets/1548835/26338945/e5096576-3f49-11e7-857b-0e27247af50c.png">

Done :)

[2017-05-23 04:53] #114 closed

[2017-05-23 10:33] natrim opened #121 "inject js and css no longer working"
Seems like v5 broke the injection of js and css from settings into page

[2017-05-23 16:19] quanglam2807 commented on #121
Fixed :)

[2017-05-23 16:19] #121 closed

[2017-05-23 18:37] natrim commented on #121
thx for fix

but there seems to be little bug in the code .)
on https://github.com/webcatalog/webcatalog/blob/5ce838caff93ef950bb4e234d5f409faeaa5a24d/src/main/preload.js#L10

if there is no js then it returns and the css is not injected

[2017-05-23 18:43] natrim commented on #121
plus using innerHTML triggers CSP and prevents load on some apps (ie. DropBox Paper)

( Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' )

[2017-05-23 19:50] quanglam2807 commented on #121
@natrim Thank you natrim. I'll fix it.

[2017-05-26 12:31] jottr commented on #26
What do you think about [Gallium](https://github.com/alexflint/gallium)?

[2017-05-26 12:33] quanglam2807 commented on #26
@jottr Pretty neat but but it hasn't been updated for months. Electron is getting better and better so I don't think we need to switch anytime soon.

[2017-05-31 15:56] swrobel opened #122 "Twitter 2FA login redirect broken again"
WebCatalog 5.2.0
macOS 10.12.5

I get texted a 2FA code, but WebCatalog doesn't redirect to the screen to enter it. I don't see any errors/warnings in console, but I do see this request in Network.
<img width="625" alt="screen shot 2017-05-31 at 8 57 21 am" src="https://cloud.githubusercontent.com/assets/157270/26641369/384ac342-45df-11e7-8b8f-8e114268b408.png">

[2017-06-02 23:20] tmeusburger commented on #101
I experience the same thing but not just on text area or input fields. The focus seems to shift away from the webview completely so if I alt+tab to a window I can't initiate keyboard shortcuts.

An example of this is on macos, when I tab to the soundcloud application I can't use space to start/pause the music without first clicking on the window with the mouse.

[2017-06-04 00:34] quanglam2807 commented on #122
It's related to this issue: https://github.com/electron/electron/issues/3471

Electron doesn't reproduce the sandboxed environment of Chrome correctly so it causes a lot of problems.

[2017-06-05 17:13] swrobel opened #123 "GMail action buttons open in a new, empty window"
<img width="471" alt="screen shot 2017-06-05 at 10 14 26 am" src="https://cloud.githubusercontent.com/assets/157270/26794736/c78d5eec-49d7-11e7-9df8-3c1e42295add.png">

Any of the action buttons on the right do the same. I believe these should open in the default browser as other links in GMail do.

[2017-06-06 03:26] quanglam2807 commented on #123
@swrobel Can you give me more detail? I tried to reproduce the bug but Gmail seemed to work fine for me.

[2017-06-09 02:51] #99 closed

[2017-06-09 21:19] #62 closed

[2017-06-09 21:19] #87 closed

[2017-06-09 21:20] #102 closed

[2017-06-12 16:24] swrobel commented on #123
Every time I click one of those buttons, I get an error like this in the console:
[code]

Unfortunately due to the way Google obfuscates their js, it's very hard to decipher... Here is the line in their js that the error links to:
`Cfa.prototype.ra=function(a){var b=this;this.ha&&Mca(15);var c=function(){if(b.isDisposed())return a.apply(this,arguments);try{return a.apply(this,arguments)}catch(d){i

[2017-06-12 21:51] swrobel commented on #123
I just tried on another Mac and have the same issue. Both are running WebCatalog 5.2.1 on macOS 10.12.5.

[2017-06-14 13:57] quanglam2807 commented on #123
@swrobel Thanks a lot! I had reproduced the bug. It's related to https://github.com/electron/electron/issues/8100. All we can do is waiting.

[2017-06-14 15:19] swrobel commented on #123
Interesting, seems like a lot of problems stem from Electron. I recall you'd mentioned switching to Muon in the past - are you still working on that, and if so, do you get the impression that issues like this will go away?

[2017-06-15 00:10] swrobel opened #125 "Disable Intercom sound effect"
It's really annoying hearing that sound when the "chat" pops up every time I launch the WebCatalog desktop app to install a new app.

[2017-06-15 02:12] quanglam2807 commented on #125
@swrobel Done :)

[2017-06-15 02:12] #125 closed

[2017-06-15 23:54] quanglam2807 commented on #123
@swrobel `muon`*'s documentation seems pretty bad so I think I would try to stay with Electron. Bu I believe they are trying to resolve this problem.

At least, `nodeIntegration` will be removed from the `webview` with WebCatalog 6.

[2017-06-20 23:52] swrobel opened #126 "Vertically center window controls on macOS"
Window controls are top-aligned which looks weird compared to the toolbar icons
<img width="211" alt="screen shot 2017-06-20 at 4 48 58 pm" src="https://user-images.githubusercontent.com/157270/27360857-913f6292-55d8-11e7-9da4-389ab2fc7558.png">

Similar Electron apps do this.
Atom (in custom-inset Title Bar mode):
<img width="145" alt="screen shot 2017-06-20 at 4 50 59 pm" src="https://user-image

[2017-06-21 02:17] quanglam2807 commented on #126
<img width="558" alt="screen shot 2017-06-20 at 9 16 30 pm" src="https://user-images.githubusercontent.com/1548835/27364053-c1702b70-55fd-11e7-8ad2-088e579d929a.png">

If I change it, with the current design, the nav bar will be too big. I'll make this change together with some design changes in v7.

[2017-06-25 04:20] quanglam2807 commented on #123
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-25 04:20] #123 closed

[2017-06-25 04:20] quanglam2807 commented on #122
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-25 04:20] #122 closed

[2017-06-25 04:20] quanglam2807 commented on #86
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-25 04:20] #86 closed

[2017-06-25 04:20] quanglam2807 commented on #39
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-25 04:20] #39 closed

[2017-06-25 04:21] quanglam2807 commented on #83
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-25 04:21] #83 closed

[2017-06-25 04:21] quanglam2807 commented on #118
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-25 04:21] #118 closed

[2017-06-25 04:24] quanglam2807 commented on #126
![screen shot 2017-06-24 at 11 23 24 pm](https://user-images.githubusercontent.com/1548835/27513651-25c940f0-5934-11e7-9fe0-a0c5c973cc52.png)

It has been fixed in 7.0 👍

[2017-06-25 04:24] #126 closed

[2017-06-25 06:58] #85 closed

[2017-06-26 13:33] vikkr opened #136 "Bookmarks Bar"
Is it possible to enable Bookmarks and Address bar like in Fluid?

[2017-06-26 18:59] Paulser commented on #97
@quanglam2807

Just update quick update this issue still exists.

Ubuntu KDE Neon - User Edition - Plasma 5.8 Desktop

![iconsdontsplit](https://user-images.githubusercontent.com/20326940/27555433-a236b8fe-5aa9-11e7-818e-a0d02a75ddf1.gif)

Would like each app to be split on the task bar with different icons if possible.

Works great and I am enjoying using it.

[2017-06-27 18:49] cotfas opened #137 "Desktop sharing extension - denied"
Hello,

I have an app called ChatApp.app

I use this WebCatalog and ChatApp.app on a Mac for a chat/desktop sharing environment (site URL)

The chat site only works with Google Chrome and it has a Google Chrome Extension for live desktop sharing

From what I saw in the background.js and rename file it uses this https://github.com/jitsi/jidesha extension for Live Screen Sharing

When I`m trying to

[2017-06-27 18:54] cotfas opened #138 "Block an custom URL to be opened on Safari"
Hello,

I have an app called ChatApp.app

I use this WebCatalog and ChatApp.app on a Mac for a chat/desktop sharing environment (site URL)

When I'm initiating a Live Chat from Site URL, the URL for the Live environment is opened in Google Chrome in a new tab. When I'm using the ChatApp.app via WebCatalog, and initiate a Live Chat the environment is opened in a new window, which is good but also i

[2017-06-27 19:25] cotfas commented on #137
I see from the github for that extension it is based on

Note: this extension relies on the Chrome chooseDesktopMedia API which requires HTTPS.

https://developer.chrome.com/extensions/desktopCapture

[2017-06-27 19:37] vlad-cotfas commented on #86
@quanglam2807  Hello, Any news on this? How can I log in? Thank you!

[2017-06-27 22:31] quanglam2807 commented on #26
@jottr I think I'll change the way WebCatalog works to fix issues similar to this one. The apps will be independent Electron apps instead of using a same binary.

[2017-06-27 23:21] quanglam2807 commented on #136
@vikkr We'll try to address this in the next release.

[2017-06-27 23:23] quanglam2807 opened #139 "Adds Payment page"

[2017-06-27 23:23] quanglam2807 opened #140 "Adds Settings page"

[2017-06-27 23:23] quanglam2807 opened #141 "Links with molecule"
Uses https://github.com/webcatalog/molecule to install apps.

[2017-06-27 23:23] quanglam2807 opened #142 "Adds app management system (install, uninstall, etc)"

[2017-06-27 23:23] quanglam2807 opened #143 "Adds my apps page"

[2017-06-27 23:28] quanglam2807 commented on #136
I'll close this issue. Please use the newly created issues for references.

[2017-06-27 23:28] #136 closed

[2017-06-27 23:29] #32 closed

[2017-06-27 23:31] quanglam2807 commented on #26
Should be fixed with #141

[2017-06-27 23:31] #26 closed

[2017-06-27 23:31] quanglam2807 commented on #97
Thank you very much, @Paulser. It should be fixed with #141

[2017-06-27 23:31] #97 closed

[2017-06-27 23:32] quanglam2807 commented on #69
@miosz This should be fixed with #141

[2017-06-27 23:32] #69 closed

[2017-06-27 23:35] quanglam2807 commented on #137
I'll will close this issue as it's related to https://github.com/webcatalog/molecule/issues/4

[2017-06-27 23:35] #137 closed

[2017-06-27 23:37] quanglam2807 commented on #117
I moved this issue to a new repo: https://github.com/webcatalog/molecule/issues/5

[2017-06-27 23:38] quanglam2807 commented on #138
This problem is related to https://github.com/electron/electron/issues/8969.

[2017-06-27 23:38] #138 closed

[2017-06-27 23:40] quanglam2807 commented on #105
I moved this issue to a new repo: https://github.com/webcatalog/molecule/issues/6

[2017-06-27 23:41] quanglam2807 commented on #101
I moved this issue to a new repo: https://github.com/webcatalog/molecule/issues/7

[2017-06-27 23:42] quanglam2807 commented on #100
I moved this to a new repo: https://github.com/webcatalog/molecule/issues/8

[2017-06-27 23:42] quanglam2807 commented on #64
Related to https://github.com/webcatalog/molecule/issues/4

[2017-06-27 23:43] quanglam2807 commented on #95
I'm not really sure if this issue has been fixed with `electron-builder` or not. But I'll close this issue to clean up the repo. Please let me know if it still doesn't work correctly.

[2017-06-27 23:43] #95 closed

[2017-06-27 23:45] quanglam2807 commented on #50
I close this to clean up issues. This problem is related to https://github.com/electron/electron/issues/8969

[2017-06-27 23:45] #50 closed

[2017-06-28 11:55] fatihturan opened #146 "Inject CSS doesn't work anymore"
With WebCatalog 6.0 update, CSS injection doesn't work anymore.

Also I see [some errors](http://jmp.sh/fjrlnYG) in Developer Tools Console. Is there a relationship with this problem?

[2017-06-28 12:57] fatihturan opened #147 "WebCatalog App Closing and Re Focusing on App Window"
When closing any WebCatalog app window and re-focusing it occurs page reloading (screencast: http://jmp.sh/wc1lTiy). It didn't behave that way in the previous version of WebCatalog.

So is there anyway to fix this issue?

[2017-06-28 13:54] quanglam2807 commented on #146
@fatihturan Thank you for letting me know. I'll be fixed in the next update.

[2017-06-28 13:54] #146 closed

[2017-06-28 14:11] quanglam2807 commented on #147
Fixed, too. It would be available in the next update.

[2017-06-29 20:38] swrobel opened #148 "Typing ? causes Global Hotkeys modal to appear"
For some reason on WebCatalog 6.0.0 on macOS typing a ? mark into an email or tweet or anything else I'm using as a webcatalog app causes this dialog to appear.
<img width="501" alt="screen shot 2017-06-29 at 1 37 45 pm" src="https://user-images.githubusercontent.com/157270/27709250-3e3fce48-5cd0-11e7-8896-4758295b13be.png">

[2017-06-29 20:57] quanglam2807 commented on #148
@swrobel This is a leftover from the tab/workspace feature which I have removed in the final version of 6.0. I'll remove it.

[2017-06-29 22:16] quanglam2807 commented on #148
@swrobel It seems like I have already removed it in 6.0
https://github.com/webcatalog/webcatalog/commit/bed081e29b9120de02685c68af13da42c7f2097a#diff-8bdd8c4daa03a4164e169f0098588201L246

Are you running the latest version? https://github.com/webcatalog/webcatalog/releases/tag/v6.0.0

[2017-06-29 22:20] swrobel commented on #148
I guess this brings up a good question - when I update WebCatalog.app, do I have to quit & restart all "apps" to get them to update? I suppose I had updated it, but not restarted any of my apps. My mistake, it's fixed now.

[2017-06-29 22:20] #148 closed

[2017-06-29 22:24] quanglam2807 commented on #148
@swrobel I think you will need to restart all your apps. But it no longer matters as in the next release, I'm looking to have all those apps work independently.

https://github.com/webcatalog/molecule

[2017-06-30 02:17] swrobel commented on #148
Hm, that's an interesting concept, although it worries me because it seems that's the same way that fluid works, and every time a new fluid update comes out (granted, it's much less frequent than webcatalog is updated 😁 ) it's really annoying because every single one of my fluid apps would pop up a dialog and I'd have to download the update separately for each one, which seemed like a waste of ban

[2017-06-30 03:40] quanglam2807 commented on #148
@swrobel My idea is to use WebCatalog as the centralized update center. So you can open WebCatalog and select "Update all".

I understand the current approach is very resource-wise because all installed apps use a same Electron binary. The new approach would make all installed apps running with a seperate binary which is not as good. Still, I will try to ensure that when there's an update, new bin

[2017-06-30 03:57] swrobel commented on #148
That's a perfect mission. Keep up the good work!

[2017-06-30 20:39] cmer commented on #64
I'd love to see support for 1Password on macOS as well. I'm not sure what the status of this request is since it was closed and the related issue doesn't give much more info. Thanks!

[2017-07-04 02:21] quanglam2807 commented on #64
Hi @cmer, the reason why I linked the issue to another repo because I'm planning to debundle the app into multiple packages. At the moment, Electron which the app relies on does not support Chrome extensions so it is quite challenging to add this feature. But as soon as we finish debundling the app, it is possible to add this feature as we can replace Electron with https://github.com/brave/muon wh

[2017-07-15 18:30] jottr commented on #26
It seems that only webcatalog itself can be assigned to a workspace, but not apps installed via webcatalog.
Tested on webcatalog 6.1.0

[2017-07-15 18:32] quanglam2807 commented on #26
@jottr Yes, I understand the problem. With the next version, 7.0, we are moving to a new architecture to resolve this issue: https://github.com/webcatalog/webcatalog/issues/148#issuecomment-312166657

[2017-08-02 02:03] onlineth opened #155 "Add pause/play/skip key bindings on media"
Add pause/play/skip key bindings on apps that have audio content being played (this feature is in particular to PocketCasts but should be applied to other apps as well). A starting point could be to use https://github.com/berrberr/streamkeys as a template and tap into Window's media control overlay.

![Imgur](https://i.imgur.com/We2nIVz.png)

[2017-08-04 02:38] quanglam2807 commented on #155
@onlineth Thanks a lot! We will try implement this feature. Right now, we are still working on WebCatalog 7 #127

[2017-08-04 18:13] onlineth commented on #155
@quanglam2807 Great to hear, I don't know much about Electron but if anyone knows of another Electron project that was able to work with the Windows's media control overlay, I could try and replicate that feature here myself.

[2017-08-15 22:28] #141 closed

[2017-09-01 14:45] superlativo77 opened #156 "Problems with Wacom tablet"
Sometimes WebCatalog loses the Wacom tablet connection. This works perfectly with the rest of the OS and other programs but with the programs of WebCatalog the pen can not click. Instead the keyboard and mouse do work.

Although I close and reopen the problem persists.

Mac Pro (2009)
macOS Sierra 10.12.6
Wacom Intuos Pen & Touch (CTH-480)

Thanks in advance.

[2017-09-02 22:37] quanglam2807 commented on #156
@superlativo77 Thanks a lot for the feedback. Does the pen work with the main WebCatalog app?

[2017-09-03 16:21] superlativ0 commented on #156
Hi @quanglam2807

Sorry, I can't try now because works correctly. When I will have the problem again I will try.

Thanks

[2017-09-16 12:17] jottr opened #157 "Password reset form returns 500 internal error."
I just tried to reset my password (I'm not sure I ever had one, but my email address seems to be in the system).
After clicking the "Reset Password" Button, the server returns an error page reporting 500 Internal Error.

[2017-09-16 15:41] quanglam2807 commented on #157
@jottr Thanks a lot for reporting! It should be fixed now.

[2017-09-16 15:41] #157 closed

[2017-09-18 11:55] stadtkonzeptbasel commented on #113
hey @quanglam2807 any news on that? For me the reason i'm still on fluidapp...

[2017-09-19 03:13] quanglam2807 commented on #113
@poochie89 We will work on this issue after WebCatalog 7

[2017-09-22 11:50] joaaogui opened #159 "Overcast app doesn't remember login session"
The overcast app (overcast.fm) requests my login information every time I open it. This kind of behavior cannot be observed in the webpage, which saves the login information.

[2017-09-28 11:16] bayang opened #160 "Add lastfm scrobbling to music apps"
Hi,
music apps would be great if lastfm/librefm scrobbling was enabled. One could enter credentials in settings for example.
I know there are chrome and firefox plugins that enable this, I don't know if there is an "electron" way to import plugins or if functionality will have to be coded from scratch.

[2017-09-28 16:48] swrobel commented on #101
@quanglam2807 it seems that the molecule repo doesn't exist anymore. I'm still seeing this issue on 6.4.1, macOS 10.13

[2017-09-30 08:23] micheljung opened #161 "Add notification support"
Maybe I missed something, but I wasn't able to get this running.

Apps like WhatsApp and Facebook make use of notifications (the little popups in the bottom right). Such notifications do not seem to work with WebCatalog.

I'm using the latest WebCatalog on Windows.

[2017-10-01 17:17] quanglam2807 commented on #161
@micheljung Thanks a lot for reporting. This is a known bug. Hopefully, it'll be fixed in WebCatalog 7.

[2017-10-01 17:19] quanglam2807 commented on #101
@swrobel The link didn't work because the project was private. You can access it now.

We haven't fixed the issue but we will look into it after WebCatalog 7's release.

[2017-10-05 15:32] swrobel opened #162 "Twitter 2FA login redirect broken"
Same issue as last time: https://github.com/webcatalog/webcatalog/issues/122

Manually navigating to the failed redirect via devtools console `window.location =` resolves the issue temporarily.

Loving WebCatalog 7.0 so far! I wish this wasn't such a hassle for you to fix all the time.

Webcatalog 7.0.7 on macOS 10.13

[2017-10-05 15:45] swrobel opened #163 "Triggering find again should select text in search box"
On chrome when you're finding in the page and then you trigger find again, all of the text in the input box is selected so when you start typing that replaces what you were searching for. On Webcatalog, what you type is appended to the end of the text already in the search box. I think the Chrome behavior is correct.

Webcatalog 7.0.7 on macOS 10.13

[2017-10-05 15:54] quanglam2807 commented on #161
@micheljung WebCatalog 7 is now available. Can you test to see if it works correctly?

[2017-10-05 16:09] quanglam2807 commented on #162
@swrobel It seems like a hacky fix. electron/electron#3471

I'll try to make a pre-release soon.

[2017-10-05 16:50] vlad-cotfas commented on #161
I`m having the same issue on Mac

I have the WebCatalog 7.0.7

And when I`m receiving a notification from Whatsapp (for example) I do not see the badge counter in the taskbar icon. On WebCatalog 6.4 it was working.

[2017-10-06 12:21] domparry opened #164 "Copy URL Shortcut key missing/no longer working"
I used to be able to copy the current URL with CMD-L on mac. The menu option still works, but the shortcut keys don't.

[2017-10-06 14:30] micheljung commented on #161
@quanglam2807 I tested with WhatsApp; Sound works, but I don't see a notification popup. I checked the settings in WhatsApp and they are turned on.

[2017-10-07 00:20] jottr opened #165 "Issues when playing full screen video"
WC 7.0.7
To reproduce, play a video on Netflix in full screen mode. To leave fullscreen one should be able to use Escape-key. Webcatalog does not honor this shortcut.
Possibly the same issue with other video apps, e.g. Youtube.
Also, the navigatin bar should automatically hide when playing a full screen video. Currently it stays visible.

[2017-10-08 10:51] quanglam2807 commented on #164
I'll be fixed in the next version.

[2017-10-08 10:51] #164 closed

[2017-10-08 15:51] quanglam2807 commented on #162
Hopefully, it will work :)

[2017-10-08 15:51] #162 closed

[2017-10-09 19:03] luisca-dev commented on #95
It doesn't show the icon in the "dash to panel" extension for GNOME.
The icon showed is the one next to Skype.
![image](https://user-images.githubusercontent.com/15930014/31354009-54d4553c-acfa-11e7-8b20-974ea272c45d.png)

[2017-10-09 23:05] quanglam2807 commented on #95
@winuxue What version are you using?

[2017-10-11 18:04] quanglam2807 commented on #161
@cotfas @micheljung Can you guys test again with v7.0.11?

[2017-10-13 20:45] micheljung commented on #161
WebCatalog Version 7.0.11, latest WhatsApp version, Desktop alerts enabled, WhatsApp minimized, no desktop notification.

[2017-10-22 12:37] demicon opened #166 "not connecting to server"
Getting failed to connect to server error

[2017-10-22 13:41] quanglam2807 commented on #166
@demicon It was a server maintenance.

[2017-10-22 13:41] #166 closed

[2017-10-22 13:45] quanglam2807 commented on #166
Actually, it was a critical bug! Thanks a lot for reporting.

[2017-10-22 15:07] demicon opened #167 "Unable to uninstall Deezer"
I am getting "We're sorry. WebCatalog has failed to uninstall Deezer." error displaying at the bottom when I try to uninstall deezer. Tried closing and reopening the webcatalog app. Still the error persists

[2017-10-22 15:07] quanglam2807 commented on #167
@demicon What OS are you using?

[2017-10-22 15:08] demicon commented on #167
Windows 10

[2017-10-22 15:08] demicon commented on #167
![image](https://user-images.githubusercontent.com/26656849/31863260-fdf2f966-b768-11e7-81f2-997b3fe45585.png)

[2017-10-22 15:12] quanglam2807 commented on #167
@demicon Can you try to uninstall the app, then open press Alt, choose View > Toggle Developer Tools. Then send me the log.

[2017-10-22 15:17] demicon commented on #167
![image](https://user-images.githubusercontent.com/26656849/31863356-2bb7288a-b76a-11e7-925b-672294e15837.png)

[2017-10-22 15:17] demicon commented on #167
does this help?

[2017-10-22 15:18] demicon commented on #167
The Object(code EBUSY... and Error:Uninstalling Failed appears, everytime I click uninstall

[2017-10-22 15:18] quanglam2807 commented on #167
@demicon Did you quit Deezer first?

[2017-10-22 15:19] demicon commented on #167
Yeah Deezer is quit. I also restarted Webcatalog

[2017-10-22 15:20] quanglam2807 commented on #167
@demicon I'm sorry but I think the best solution is to restart your computer.

[2017-10-22 15:26] demicon commented on #167
Thanks! It uninstalls after restarting my computer

[2017-10-22 16:26] quanglam2807 commented on #167
@demicon I'm glad it works for you!

[2017-10-22 16:26] #167 closed

[2017-10-22 16:27] #112 closed

[2017-10-22 16:27] #140 closed

[2017-10-22 16:27] #142 closed

[2017-10-22 16:27] #143 closed

[2017-10-22 16:27] quanglam2807 commented on #91
@jottr @adidalal  Are you still interested in this issue?

[2017-10-22 19:13] jottr commented on #91
Yes. I'm currently sending manual [PRs](https://github.com/caskroom/homebrew-cask/pull/39931) once I discover a new version is online. I'd prefer that this be automated.

[2017-10-23 18:53] Lerentis opened #168 "Failed to install any app on Linux"
Hey there. i was trying to install Google Play Books, but it always failes.
Toggling developer tools just gives me this:
[code]
is this a known problem? Can i provide more logs here? love the idea of this application (:

EDIT: I can't install any app in fact. just tested against master with yarn electron-dev running.

uname -a
Linux 4.13.8-1-ARCH x86_64
electron -v
v1.6.15
Installed via AppImage

[2017-10-25 19:17] MONKiCODE opened #169 "Duolingo Microphone not accessible"
Everything seems to work in Duolingo except the microphone. I'm not sure how I can manually enable it or if this is a bug in the app.

Any help is much appreciated!

[2017-10-27 12:42] fatihturan opened #170 "Add Change Application Icon Feature to WebCatalog"
I'm changing some WebCatalog app icon on MacOS. But when I update the app latest version then app's icon changing to default one. So can you add change app icon feature for WebCatalog?

[2017-10-28 11:52] bayang commented on #168
same here, Linux 4.10 x86_64 with Appimage

[2017-10-28 11:52] quanglam2807 commented on #168
@bayang I'm working on it.

[2017-10-29 18:09] swrobel opened #171 "App sizes have increased massively in 7.x"
One of the big benefits of WebCatalog vs nativefier used to be that the apps were small, around 10MB. I believe. Now my apps are ~290MB which is a huge increase. Is this intended behavior, and if so, why?

<img width="288" alt="screen shot 2017-10-29 at 11 09 09 am" src="https://user-images.githubusercontent.com/157270/32146742-9faafddc-bc99-11e7-9e48-da0f56cd8419.png">

[2017-10-29 22:28] jnv commented on #171
Perhaps this is caused by the new [molecule](https://github.com/webcatalog/molecule) engine, which turns webpages into electron apps? The [announcement](https://medium.com/webcatalog/announcing-webcatalog-7-0-c5bafe5442a8) suggests so:

If this is the case, WebCatalog just adds fancy GUI for nativefier-like behavior where each application carries its own copy of Electron.

[2017-10-29 23:27] cotfas opened #172 "Add option to change title bar color for WebCatalog 7"
An idea to have colored title bar like in the Trello Mac App

<img width="1093" alt="screenshot at oct 30 01-24-09" src="https://user-images.githubusercontent.com/3340367/32149703-451dfd6a-bd11-11e7-812e-f4e32f821ba9.png">

[2017-10-30 05:44] quanglam2807 commented on #171
@jnv You're right. @swrobel As I explained to you before, this is intentional to improve the stability of the app.

I do agree that the app sizes are too big and the majority of the components can be shared between these apps. It is a compromise we have to live with to move the development forward. Then, when a shared Electron runtime mode is developed, this problem will be resolved completely.

@

[2017-10-30 05:51] quanglam2807 commented on #168
Can you guys test the new version? For a reason, WebCatalog didn't work correctly with the `AppImage` format so you need to install it again with `.deb`, `.rpm` or `.pacman` file.

https://github.com/webcatalog/webcatalog/releases/tag/v7.3.0

[2017-10-30 05:53] quanglam2807 commented on #169
Do you think it's because Duolingo uses Flash?

[2017-10-30 08:20] bayang commented on #168
still no luck here on ubuntu 17.04 with the .deb
![webcatalog](https://user-images.githubusercontent.com/11558944/32160756-6aa5a316-bd53-11e7-91c1-d0d1de2fb198.png)

[2017-10-30 10:51] develar commented on #171
@quanglam2807 Shared runtime for macOS will be not supported by electron-builder any time soon. I will inspect generated app files, maybe some optimisations maybe made.

[2017-10-30 11:25] Lerentis commented on #168
Same on Arch with the .pacman :/

[2017-10-30 14:24] Mgldvd commented on #168
v7.3.0 fail on Linux mint 18.2 with .deb
![image](https://user-images.githubusercontent.com/2009698/32175837-13834060-bd54-11e7-9286-fc369601a83c.png)

[2017-10-30 15:17] damigarcia commented on #168
Same problem with 7.3.0 in a CentOs 7.3.1611 installed with WebCatalog-7.3.0.x86_64.rpm.

[2017-10-30 15:33] Mofiqul commented on #168
Same problem with 7.3.0 in Ubuntu 16.04 64bit. installed from .deb

[2017-10-30 15:50] quanglam2807 commented on #168
I've found the problem. It'll be fixed soon.

[2017-10-31 01:58] quanglam2807 commented on #168
It should be fixed in v7.3.2 https://github.com/webcatalog/webcatalog/releases/tag/v7.3.2

[2017-10-31 23:37] swrobel opened #173 "Twitter DMs with images redirect to the image"
This is very odd behavior. Here are steps to reproduce:

1. Open Twitter app
1. Click Messages in the top Nav of the website
1. Open a DM conversation where an image has been shared by uploading it
1. Note that the conversation briefly shows before the view is redirected to show the image itself. The only way to get out of this view is to go to View > Force Reload.

Here are devtools logs from whe

[2017-11-01 05:26] quanglam2807 commented on #173
@swrobel Have you tested it with Chrome?

[2017-11-01 06:27] swrobel commented on #173
@quanglam2807 yes I meant to mention but forgot, I tested in Chrome and it behaves as expected. No bug.

[2017-11-01 06:57] quanglam2807 opened #174 "Adds deep linking support"
https://en.wikipedia.org/wiki/Deep_linking

[2017-11-01 10:54] quanglam2807 opened #175 "Adds Open at login"

[2017-11-01 12:30] quanglam2807 opened #176 "Chrome-compatible user agent"

[2017-11-01 14:31] cotfas opened #177 "Mac trackpad swipe left/right for back/forward"
Mac trackpad swipe left/right for back/forward
On my mac it does not work because I`m using the 3 finger to move items on the screen

See the photos attached
![screenshot at nov 01 14-07-43](https://user-images.githubusercontent.com/3340367/32279658-16a6807a-bf22-11e7-93b3-84426b4b01c1.png)
![screenshot at nov 01 14-08-18](https://user-images.githubusercontent.com/3340367/32279659-16c6f9a4-bf22-11

[2017-11-01 20:05] demicon opened #178 ""Update is available" message appears on all installed apps, even after webcatalog is updated"
![image](https://user-images.githubusercontent.com/26656849/32295019-0140250a-bf6e-11e7-86fe-617e3237aa2f.png)

Edit: Tried restarting pc, still the message persists

[2017-11-01 22:40] jottr commented on #58
It seems that adblocking has been removed from Webcatalog.
I'd like to kindly request this to be readded to webcatalog. :)
@quanglam2807

[2017-11-01 23:54] quanglam2807 commented on #171
@develar All these apps uses a same `app.asar` file. Is there a way to change its location? I can move it to a shared folder.

[2017-11-02 00:03] quanglam2807 commented on #171
I'll use symlink. It would save 50% of the app sizes.

[2017-11-02 00:08] quanglam2807 commented on #178
@demicon You need to go to Installed Apps to update installed apps. I'll try to improve the UI to make it easier to use.

[2017-11-02 11:26] quanglam2807 commented on #171
<img width="805" alt="screen shot 2017-11-02 at 6 26 16 pm" src="https://user-images.githubusercontent.com/1548835/32323674-6358bdc8-bffb-11e7-8bc4-98988a75b5be.png">

:)

[2017-11-02 11:26] #171 closed

[2017-11-02 17:57] damigarcia commented on #168
I'm still having the problem.
I have CentOs 7.3.1611 installed with WebCatalog-7.3.2.x86_64.rpm.
I've uninstalled and then install it.
How can I help you? is there any log I can take a look?
![selection_517](https://user-images.githubusercontent.com/98479/32342065-16b1dfa8-bfde-11e7-8fa9-ce61bb94c862.png)
![selection_518](https://user-images.githubusercontent.com/98479/32342094-2a5f6e30-bfde-11e7-

[2017-11-03 11:21] MakuSensei opened #179 "Problems with the display of icons in gnome shell"
Hello, I want to report that all the webapps when executing them, the corresponding icon is not displayed
![image](https://user-images.githubusercontent.com/16900914/32371536-05860208-c070-11e7-85a8-9bff3678e566.png)

[2017-11-03 12:19] quanglam2807 commented on #179
I've fixed this bug. It'll be available with the next version.

[2017-11-03 12:19] #179 closed

[2017-11-03 13:38] vlad-cotfas commented on #171
It will be nice to have more mac SSD space :D

[2017-11-03 18:52] quanglam2807 commented on #171
It's ready. Can you guys test it a little bit to make sure everything works correctly?
@cotfas @jnv @swrobel
https://github.com/webcatalog/webcatalog/releases/tag/v7.4.0

[2017-11-03 19:48] swrobel commented on #171
Wow, truly incredible work! No issues so far, but I will update if that changes.

Before:
<img width="406" alt="screen shot 2017-11-03 at 12 44 01 pm" src="https://user-images.githubusercontent.com/157270/32393031-3ed701ae-c095-11e7-8b75-c72d8b8b11f5.png">

After:
<img width="461" alt="screen shot 2017-11-03 at 12 46 17 pm" src="https://user-images.githubusercontent.com/157270/32393036-42e46624-c0

[2017-11-03 21:48] vlad-cotfas commented on #171
Hello Quang, it is working, thank you for this feature! You saved my SSD space 🥇

[2017-11-06 03:13] quanglam2807 commented on #161
Currently I'm not seeing any notifications on my desktop for new emails in gmail. Is this supposed to be available? Is there something I need do?

[2017-11-06 03:14] quanglam2807 commented on #161
Guys, does notification work in any app?

[2017-11-06 07:37] vlad-cotfas commented on #161
For me it is working

I`m using the 7.4 version

[2017-11-06 16:51] #178 closed

[2017-11-08 03:58] RazorII commented on #169
No I don’t think so.
I have the same problem on Google Translate :(

On Mon, Oct 30, 2017 at 12:53 PM Quang Lam <notifications@github.com> wrote:

--
Sent from my iPhone

[2017-11-08 04:03] quanglam2807 commented on #169
I think we just need to wait for Electron 1.8 (WebCatalog 7.4.2 is using Electron 1.7).

https://github.com/electron/electron/commit/f26db5c7a1c6328549d1bb884b051f03b1786494

[2017-11-08 04:20] RazorII commented on #169
I have the problem with WebCatalog 7.4.2 & it is using:

   - *electron:* 1.7.9
   - *chrome:* 58.0.3029.110
   - *v8:* 5.8.283.38
   - *node:* 7.9.0

On Wed, Nov 8, 2017 at 11:03 AM Quang Lam <notifications@github.com> wrote:

--
Sent from my iPhone

[2017-11-08 04:32] quanglam2807 commented on #169
@MONKiCODE Let's just wait for electron 1.8. It's still in beta 👍

[2017-11-08 05:12] RazorII commented on #169
Fingers crossed for this to be resolved with 1.8 :)

[2017-11-09 09:08] matrixik opened #180 "Ability to install apps using separate file"
Would be nice to have ability to install apps from separate file instead of connecting to a server.

Problem: I am able to install apps on Linux but on Windows I can't any (probably because of corporate proxy)
[code]

[code]

Other way around this would be to have Webcatalog app as portable instead of installer on Windows so I could install necessary apps on one computer and use it on all other co

[2017-11-09 22:38] fsdias opened #181 "Amazon Spain app doesn't launch on Ubuntu 16.04"
I can install the "Amazon Spain" app with no issues but when I click on it doesn't launch. I'm on Ubuntu 16.04 64 bits.

[2017-11-10 00:16] swrobel opened #182 "Twitter sometimes tries to download ad.mpg on Home feed"
This comes up occasionally when I'm on my Home feed. I have to cancel it out about 5 times before it goes away for good. The only thing in my Console is

`twitterinitmatch Failed to load resource: net::ERR_NAME_NOT_RESOLVED`

<img width="720" alt="screen shot 2017-11-09 at 4 12 24 pm" src="https://user-images.githubusercontent.com/157270/32636303-0a61e9ce-c569-11e7-9f7d-e8a53d061425.png">

I think

[2017-11-10 06:12] 123Jon4 opened #183 "Multiple instances of an app"
It would be nice if you could have multiple instances of an app. It would be extremly usefull if you have multiple accounts on a platform and dont have to logout, login all the time.

[2017-11-10 09:48] quanglam2807 opened #184 "Keep the Project running"
As I'm an international student in the US, it's not possible to sell the app or receive donations from the community. (F1 visa's regulations). Additionally, I'm planning to concentrate less on software development to concentrate on my school works.

But the number of WebCatalog's users continue to grow so I need to deal with a larger number of app submissions and traffic. So I need some help from

[2017-11-10 09:50] quanglam2807 commented on #183
I did work on a prototype for this feature before and I'm planning to bring it back soon.

<img width="561" alt="26956873-ab05e27e-4c86-11e7-906f-ab111f55ace0" src="https://user-images.githubusercontent.com/1548835/32652542-2e033120-c637-11e7-91ff-6f1ff9b2dac2.png">

[2017-11-10 09:51] quanglam2807 commented on #180
If somebody can turn this one into a CLI, it would be possible. https://github.com/webcatalog/molecule

I'm quite busy to work on this.

[2017-11-10 09:51] quanglam2807 commented on #181
Do other apps work for you?

[2017-11-10 09:52] quanglam2807 commented on #182
It seems like Twitter doesn't work well with Electron at all. Let's wait for Electron 1.8.

[2017-11-10 09:53] fsdias commented on #181
Yes, I have tested 10+ apps and they are all working as expected

[2017-11-10 09:56] quanglam2807 commented on #181
Strange. Can you send me the content of this file: `~/.local/share/applications/webcatalog-98559201-0206-4802-bf85-3673b96081d7.desktop`.

Additionally, you can open Terminal, type `gtk-launch webcatalog-98559201-0206-4802-bf85-3673b96081d7`. Maybe it will show you some error messages.

[2017-11-10 10:01] quanglam2807 opened #185 "Improve Icon quality"
Sadly, it's hard to find a solution for this issue. The icons on Google Play and App Store are all at 512x512px while the ones on Twitter are all at 400x400px. To have good icons for Mac, we need 1024x1024px icons which are extremely hard to find.

[2017-11-10 10:04] fsdias commented on #181
I have no idea about what happened but it's working now. Yesterday I had deleted it and reinstall it but it still would not launch. Today it's fine. Thanks for the help and sorry to bother you.

[2017-11-10 10:05] vlad-cotfas commented on #184
"A person (or persons) to approve app submissions."

Can you make a dashboard so there is more than 1 admin that will approve app submission? This way it will be more productive for app submissions.

[2017-11-10 10:07] quanglam2807 commented on #184
It's already up and running. Are you interested?

[2017-11-10 10:27] fsdias commented on #181
Well, it happened again. Here's the error message from the terminal

fd@fd-XPS:~$ gtk-launch webcatalog-98559201-0206-4802-bf85-3673b96081d7
fd@fd-XPS:~$ module.js:472
    throw err;
    ^

Error: Cannot find module '../dialog'
    at Module._resolveFilename (module.js:470:15)
    at Function.Module._resolveFilename (/home/fd/.config/WebCatalog/apps/98559201-0206-4802-bf85-3673b96081d7/resources/e

[2017-11-10 11:44] vlad-cotfas commented on #184
I can help but it will be only in my free time. Is there any policy on what it should look the submitted Apps?

[2017-11-10 11:54] ianjukes commented on #185
Hey Quang. I'd be happy to start to source alternative icons. There are plenty out there. What size and format would they need to be? Is 1024x1024px enough? PNG?

[2017-11-10 13:54] quanglam2807 commented on #185
That would be awesome! And yes, 1024x1024px is enough :)

[2017-11-10 16:01] fsdias commented on #181
This also happens with the Facebook app. Usually after closing it and restarting it shortly after.

[2017-11-10 16:02] quanglam2807 commented on #181
I think it's related to the resource-sharing mechanism I introduced after #171

[2017-11-11 06:09] quanglam2807 commented on #184
@cotfas Awesome. There's no specific guideline but you should only approve apps you feel acceptable. Also, no porn.

[2017-11-11 10:26] fsdias opened #186 "Facebook and Youtube app: clicking on an url copies it to the web browser but the page does not load"
When I click on an URL, the URL is copied to the default web browser, but the page doesn't load. I have to click "enter" for this to happen. GMAIL app is not affected.

I am using Ubuntu 16.04

[2017-11-11 19:32] demicon opened #187 "Ability to toggle the visibility of Menu Bar"
Currently the menubar is visible all time. It would be nice to have a toggle option for that (like pressing Alt)

[2017-11-11 19:34] demicon commented on #184
I can help you up with app submissions

[2017-11-11 22:48] jottr opened #188 "Webcatalog chrome visible when in fullscreen video"
When playing fullscreen video, the top bar is not hidden.
[code]

See screenshot:
![bildschirmfoto 2017-11-11 um 23 45 30](https://user-images.githubusercontent.com/2744198/32694210-bd3f5324-c73a-11e7-9055-02241a611e46.png)

[2017-11-12 10:37] fsdias commented on #188
In Ubuntu 16.04, with the Netflix app, the navigation bar is not hidden when in full-screen mode.

[2017-11-12 10:47] jottr commented on #188
This is on OSX. Updated the issue accordingly.

[2017-11-12 13:55] MakuSensei opened #189 "Add adblocker support"
There are many pages with excessive advertising that opens many windows of a webapp.

[2017-11-12 19:07] vlad-cotfas commented on #189
+1

[2017-11-12 19:13] vlad-cotfas commented on #184
Quang, can you send me in private the login details and credentials please

[2017-11-13 04:15] quanglam2807 commented on #184
@demicon cotfas Thanks a lot, guys! Please email me quang@webcatalog.io your login email you use for WebCatalog account.

[2017-11-13 11:17] quanglam2807 opened #190 "Update process is too complicated."
[code]

[2017-11-13 11:17] quanglam2807 commented on #190
#178

[2017-11-13 12:15] quanglam2807 opened #191 "Update Atlassian (and their products Bitbucket, Jira, Confluence) icons"
[code]

[2017-11-13 12:16] quanglam2807 opened #192 "Alexa app that won’t connect to internet"
[code]

[2017-11-13 12:17] quanglam2807 commented on #187
[code]

[2017-11-13 12:19] quanglam2807 opened #193 "Cannot install apps on OpenSuse"
[code]

[2017-11-13 12:46] ianjukes commented on #185
So I've created my first 1024x1024px PNG with transparency for Facebook, from their official logo. Where should I upload in Github?

[2017-11-13 12:53] quanglam2807 commented on #185
Yes, please. But I'm not sure if GitHub degrades the icon or not so maybe you can email it to me or share a link to cloud storage.

[2017-11-13 13:27] ianjukes commented on #185
Hey Quang!

I’ve attached a Facebook and 500px logo. Can you update the apps with these and I will upgrade them via WebCatalog and test them? If they look okay I’ll start looking for other logos. They are both 1024x1024px PNGs with transparency.

Ian

—
Ian Jukes

On 13 Nov 2017, 12:53 +0000, Quang Lam <notifications@github.com>, wrote:

[2017-11-13 14:25] ianjukes commented on #185
Here are a bunch of others as well. I can’t find the shopping cart version of the Amazon icon, so I’ve created this generic one.

Let me know if they’re any good?

Ian

—
Ian Jukes

On 13 Nov 2017, 13:27 +0000, Ian Jukes <ianjukes@gmail.com>, wrote:

[2017-11-13 20:31] swrobel commented on #182
Yes, there are definitely some strange issues. Here is another: sometimes it refreshes and just shows this until I do a Force Reload
<img width="390" alt="screen shot 2017-11-13 at 12 30 25 pm" src="https://user-images.githubusercontent.com/157270/32747764-9f4f4e52-c86e-11e7-93ac-26cb90455131.png">

[2017-11-14 12:54] quanglam2807 opened #194 "Icons are not rendered correctly on Mac"
[code]

[code]

[code]

[2017-11-14 12:55] quanglam2807 commented on #194
![screenshot_fluid](https://user-images.githubusercontent.com/1548835/32780947-b03135f2-c975-11e7-9f29-b80115010f81.png)

[2017-11-14 12:55] quanglam2807 commented on #185
#194

[2017-11-14 12:55] #185 closed

[2017-11-14 12:57] quanglam2807 commented on #194
<img width="190" alt="screen shot 2017-11-14 at 7 56 24 pm" src="https://user-images.githubusercontent.com/1548835/32781006-f3936efa-c975-11e7-9cf2-8a6ce08be256.png">

Even the colors are different from the one created with Fluid.

[2017-11-14 13:00] quanglam2807 commented on #194
Maybe, it's related to the resizing `kernel`. lovell/sharp#621

[2017-11-14 13:14] ianjukes commented on #194
It looks to me like the issue is when Electron creates a ICNS file for the app from the PNG? From the PNG it creates 6 different sized icons inside the one ICNS file and the 5 smaller icons are very poor quality. This might be the resizing code that Electron uses?

[2017-11-14 13:15] quanglam2807 commented on #194
Difference between None, Linear, Cubic and Sinc(Lanczos3) interpolation in image scaling?
https://graphicdesign.stackexchange.com/a/28034

[2017-11-14 13:17] quanglam2807 commented on #194
The icons are generated on the server: https://github.com/webcatalog/webcatalog-server/blob/master/src/routes/admin.js#L84 and then stored on S3.

It uses `sharp` to resize the original icons to smaller ones. But `sharp` uses `lanczos3` instead of `cubic` kernel by default. `cubic` is better at keeping edges smooth.

[2017-11-14 13:30] ianjukes commented on #194
The code is calling a shell script that uses `png2icns` on the server https://github.com/webcatalog/webcatalog-server/blob/master/src/libs/convert-to-icns.sh to create the ICNS file from the PNG. I think this is where the problem is.

[2017-11-14 13:36] ianjukes commented on #194
Actually, it looks like it uses `convert` from ImageMagick to resize the PNGs and then `png2icns` to combine them into an ICNS file.

[2017-11-14 13:36] quanglam2807 commented on #194
My bad. Just got it too

[2017-11-14 13:44] ianjukes commented on #194
I think I've found the problem. In the `convert-to-icns.sh` script the ImageMagick `convert` command uses the `-sample` option to resize the images. According to the ImageMagick website https://www.imagemagick.org/script/command-line-options.php#sample that uses nearest neighbour resampling for speed, and that is unlikely to produce quality icons. I think we need to edit the `convert-to-icns.sh` s

[2017-11-14 13:46] quanglam2807 commented on #194
@ianjukes I copied the code from https://github.com/jiahaog/nativefier/blob/master/bin/convertToIcns so I'm not really sure. The original script uses Apple's `iconutil` but I use open-source `png2icns`

[2017-11-14 13:48] ianjukes commented on #194
I think the code will work. We just need to tweak the options on the ImageMagick `convert` command to downsample the PNG correctly.

[2017-11-14 13:54] quanglam2807 commented on #194
@ianjukes This is an ICNS file generated using the original script (convert + iconutil). Can you test it? If it's still blurry, we would be sure that this bug is caused by `convert` code, not `png2icns`).

https://send.firefox.com/download/6a9e5edaab/#20kBrG0LyWkEcKIUO7Gidg

[2017-11-14 13:56] quanglam2807 commented on #194
It'd be awesome if you can make a PR :)

[2017-11-14 13:57] ianjukes commented on #194
Yep. It's still not right. The resized icons are still jagged. So the problem is with `convert` and not with `png2icns`. What do you mean by a PR? Sorry for my ignorance! :)

[2017-11-14 13:58] quanglam2807 commented on #194
@ianjukes Pull Request :)

[2017-11-14 14:03] quanglam2807 commented on #194
https://send.firefox.com/download/d7fce5088c/#eFXytJOheySSBMfECIVrYw

I replaced
[code]

with
[code]

The quality seems improved. Can you test it one more time?

[2017-11-14 15:10] ianjukes commented on #194
Yes! That seems much better. Let's give that a go.

[2017-11-14 15:47] ianjukes commented on #194
Can you add `-filter Lanczos` to the `convert` command and upload a test ICNS file for me to test?

[2017-11-14 15:55] quanglam2807 commented on #194
@ianjukes: https://send.firefox.com/download/de25d49dd6/#GEFyHMgFXiQs1OZUhQtYhA
Original code: 52kb
Resize: 71kb
Resize + Lanczos: 82kb

[2017-11-14 16:08] ianjukes commented on #194
I confirm the icons do resize much better and they look better _without_ the `-filter Lanczon` option. Your updated code looks good! I think we've solved it!

[2017-11-14 16:22] quanglam2807 commented on #194
@ianjukes Awesome! Let's close this issue.

[2017-11-14 16:22] #194 closed

[2017-11-14 16:27] ianjukes commented on #194
Some of the icons just need rebuilding now. 500px hasn't been updated to the new version I sent over? If you rebuild them all you might find the upscaling from the other icons is also improved.

![screenshot](https://user-images.githubusercontent.com/6738441/32791412-e1193e48-c958-11e7-9804-738af3d31fe7.png)

[2017-11-14 16:47] quanglam2807 opened #195 "Generate ICNS & ICO locally"
This is a blocker for #113. Also, this will save a lot of cloud storage.

[2017-11-14 18:14] adrianvanlan opened #196 "Cablevisión Flow not login"
When I want to login to my account, it tells me this in Spanish: "Por el momento, este sitio solo se encuentra disponible para Google Chrome."

[2017-11-15 06:54] #184 closed

[2017-11-15 14:18] quanglam2807 commented on #196
This is related to #176

[2017-11-15 14:18] #196 closed

[2017-11-15 14:18] #161 closed

[2017-11-16 06:03] quanglam2807 opened #198 "Oura Ring doesn't work correctly"
[code]

[2017-11-16 06:15] quanglam2807 commented on #190
This is partly resolved with https://github.com/webcatalog/webcatalog/commit/53b034cff339921ed367f009f470fb79e7a82f8d

[2017-11-16 06:16] #190 closed

[2017-11-16 06:25] quanglam2807 commented on #191
@cotfas @demicon @ianjukes Can you guys work on this?

[2017-11-16 06:31] #188 closed

[2017-11-16 06:32] quanglam2807 commented on #170
This one will be resolve with #113

[2017-11-16 06:32] #170 closed

[2017-11-16 07:13] demicon commented on #191
@quanglam2807 updated the logos.

[2017-11-16 07:15] quanglam2807 commented on #191
Awesome! Thanks a lot, @demicon!

[2017-11-16 07:15] #191 closed

[2017-11-16 08:04] quanglam2807 commented on #198
[code]

![pastedgraphic-1](https://user-images.githubusercontent.com/1548835/32880205-646334c0-cadf-11e7-9436-bc9cd147460e.png)

[2017-11-16 12:48] quanglam2807 opened #199 "Use AppImage"

[2017-11-16 13:57] vlad-cotfas commented on #191
Is there a way to have the old icons on my machine? (I did linked more the old icons) :S

[2017-11-16 14:13] quanglam2807 commented on #191
@cotfas, Sadly, no. #113

[2017-11-17 10:05] rosiered999 commented on #193
Same problem in Ubuntu. I just get an error and I can't install any apps.

[2017-11-17 12:34] quanglam2807 commented on #29
This bug still occurs on Windows.

[code]

[2017-11-17 12:37] quanglam2807 opened #200 "Custom context menu is overwritten"
[code]

[2017-11-17 16:12] quanglam2807 opened #201 "Stitcher Radio doesn't work correctly"
![pastedimage](https://user-images.githubusercontent.com/1548835/32956865-b4eda69c-cbec-11e7-873f-0f08f434dbd9.png)

[code]

[2017-11-17 16:14] quanglam2807 opened #202 "App Review Guidelines"
@demicon @cotfas @ianjukes I think we need to discuss about the app review guidelines:
- What kinds of apps do you approve?
- Icon requirements.

etc.

[2017-11-17 16:32] demicon commented on #202
@quanglam2807 twitter seems to be the only easy source for icons. Also I tried submitting high resolution icons (1000px above), but it throws a 500 error.

[2017-11-17 16:41] demicon commented on #202
my suggestions for approving an app:
- Only web based applications allowed
- The url should display a page which has access to login/signup page of webapp
- The urls shouldn't be a landing page for mobile apps
- The urls shouldnt be some guy's personal website, unless its a blog with reasonable content.
- No porn/spam

[2017-11-17 16:42] quanglam2807 commented on #202
@demicon Height needs to equal width. If not, you'll receive a 500

[2017-11-17 16:43] demicon commented on #202
okay . i guess that might be the reason

[2017-11-18 12:01] ianjukes commented on #202
I've never approved an app, only submitted apps for approval. I did create Airbnb UK... but I created that one myself in the admin console. 😎 I like the approval suggestions @demicon has put forward. They seem very sensible. It would be good to try for all icons at 1024x1024px, especially for the most popular webapps. I can recreate many of them with my design tools if there isn't one already.

[2017-11-18 16:10] probonopd commented on #199
`electron-builder` has native support for building [AppImage](https://appimage.org/).

[2017-11-18 16:15] dinosw opened #203 "How to view "My Apps""
Hi

How can I view a list of "my apps", or is that not possible?
I can view a list of installed apps, but I am fairly certain that I at some point saw a button called "My Apps". If it is not currently possible, then I would really like it, if it could be implemented, as I use WebCatalog on more than one computer, so being able to view "My Apps", would be extremely useful.
I really like WebCatalog,

[2017-11-18 19:09] vlad-cotfas commented on #202
@demicon suggestion sounds good

[2017-11-21 04:00] quanglam2807 commented on #203
I've temporarily removed the page. It'll be back soon.

[2017-11-21 04:52] quanglam2807 commented on #202
Awesome! Also, please make sure a URL starts with `http://` or `https://`. The AdminCp doesn't check for this. I'm working on a fix.

[2017-11-21 08:41] roNn23 opened #204 "Add tabs"
In Jira, I want to open multiple Stories at once. Because of this, it would be awesome to have tabs. Currently ctrl-clicked links open in my default browser.

[2017-11-21 19:42] urfausto opened #205 "BUG: can't uninstall Pinterest"
what the hell this damn bug is: "We're sorry. WebCatalog has failed to uninstall Pinterest. CLOSE" message over and over again

windows 7 x64bit
the icon disappeared from dekstop yet the app is still there.

![buggg](https://user-images.githubusercontent.com/31393590/33093146-7047b0ba-cefc-11e7-9ae9-cf6a459a9e66.jpg)

[2017-11-22 09:28] demicon commented on #202
I think we shall try gitter.im for communication. It also has mobile apps. What do u guys suggest?

[2017-11-22 09:29] demicon commented on #205
@urfausto go to task manager and stop all instances of the pinterest app and then try uninstalling

[2017-11-22 09:31] demicon commented on #201
Works now with the latest version of webcatalog 7.6.1

[2017-11-22 10:24] urfausto commented on #205
resolved, when i started the computer today i was able to unistall.

[2017-11-22 11:07] #201 closed

[2017-11-22 11:10] quanglam2807 opened #206 "App is running in background on Windows"
[code]

![gmail running in background](https://user-images.githubusercontent.com/1548835/33124665-5b567ec0-cfb0-11e7-97dd-ea16dfa2138a.PNG)
![gmail not showing](https://user-images.githubusercontent.com/1548835/33124670-5d013cec-cfb0-11e7-8005-00a2a414709a.png)

[2017-11-22 11:10] quanglam2807 commented on #205
@urfausto Thanks a lot for the follow-up. I think this is related to #206. Let's move there.

[2017-11-22 11:11] #205 closed

[2017-11-22 15:39] quanglam2807 opened #208 "Uninstalling Instruction"
Some users need instruction to uninstall the app. If you have time, please help.

[2017-11-23 17:37] haleksandre opened #209 "Gnome shell Dash"
Favorite WebCatalog apps in Gnome Dash doesn't work as expected.

The favorite icons opens the app without any issues, but it create another instance/icon underneath your favorites as if the app is not present in your favorites list.

![gnome-bug](https://user-images.githubusercontent.com/8269937/33184291-d1d503ac-d049-11e7-8972-73d53a527538.png)

The usual behavior should be the app instance be e

[2017-11-24 20:05] celina opened #210 "GroupMe does not load chats, redirects to home page"
Successful login to GroupMe shows the chat screen for a millisecond before redirecting to groupme.com. Subsequent logins have the same behavior. I've verified that my login information is correct and works in a normal web browser.

[2017-11-25 17:30] ecbrodie opened #211 "WebCatalog forgets about all my installed apps after upgrading"
## Description

When I upgrade to the latest version of WebCatalog, the app will forget about all the web apps that I had already installed via WebCatalog. Although these apps will still be installed on my computer, WebCatalog will know nothing about it and thus I need to do a reinstall via WebCatalog to keep things in-sync again.

For example, I installed Facebook Messenger on a previous WebCatal

[2017-11-25 22:19] demicon opened #213 "Cloud9 IDE opens the ide in external browser window"
When any of the projects from Cloud9 IDE (http://c9.io) is opened, it immediately opens the external browser window and launches the IDE instead of the IDE showing up in the webcatalog app

[2017-11-27 01:41] quanglam2807 commented on #202
@demicon @ianjukes @cotfas What do you think about #212? Some apps are installed by thousands of people. Some are never installed. Should we only keep a small number of popular apps?

[2017-11-27 06:27] vlad-cotfas commented on #202
Quang, I saw the new update, I like the idea, in my opinion when we migrate to version 8, is it possible to have all apps transfered there? Because for example I`m using like ~20-40 Apps and some of them are not that popular but are usefull for me. I think it is better to have also the old Apps when we migrate to 8. :)

[2017-11-27 06:47] demicon commented on #202
Hey @quanglam2807  The idea is good. We can have a little set of popular apps and if people start to request new apps, we can create some kind of voting poll to add most voted app. And I would also add @cotfas point here, the facility to retain currently installed app to the new version.

[2017-11-28 10:31] quanglam2807 commented on #202
@demicon @cotfas Thanks a lot for the opinions. I have created a new repo for apps: https://github.com/webcatalog/webcatalog-apps. I don't think it's necessary to only accept very popular apps but at least, we should control the quality of the submitted apps.

Also, I don't really want to move everything to the new system. The new one is incompatible with the  old and we need to slowly migrate.

[2017-11-28 11:16] demicon commented on #202
So, only the original developer or people representing the company should submit their own app?

[2017-11-28 11:40] quanglam2807 commented on #202
@demicon Did I mention that anywhere in the documents? The project was based on `https://github.com/electron/electron-apps` so we need to modify some points. It's unlikely that Google or Facebook would submit their apps so let's be wild :)

[2017-11-28 11:42] fsdias opened #214 "Webcatalog 7.7.1 - can't install Grammarly"
This message appears:

We're sorry. WebCatalog has failed to install Grammarly.

[2017-11-28 11:54] quanglam2807 commented on #214
@fsdias Thanks for reporting. It should work now.

[2017-11-28 11:55] #214 closed

[2017-11-28 11:56] quanglam2807 commented on #211
I'm migrating to WebCatalog 8 #212. Hopefully, this bug will be fixed with new version.

[2017-11-28 12:39] demicon commented on #202
I would have misread, " Must not be a copy of another company's or application's icon (see submission guidelines below" I thought it as you can put up ur logo if u r the app dev

[2017-11-29 19:44] fsdias opened #215 "Evernote app: clicking on a link does not work"
Clicking on a link directs the user here:

![screenshot from 2017-11-29 19-42-58](https://user-images.githubusercontent.com/5689181/33395499-9fa0ec86-d53d-11e7-9614-becca844d7d1.png)

[2017-11-29 21:50] younglee327 opened #216 "Apps not installing on High Sierra"
All of my apps stopped working/installing correctly after upgrading. I've tried reinstalling but to no avail. Perhaps I am not uninstalling properly? Please help!

[2017-11-30 09:51] #139 closed

[2017-11-30 09:51] #29 closed

[2017-11-30 13:45] quanglam2807 commented on #203
Because #212, this feature will be removed. I'm sorry.

[2017-11-30 13:45] #203 closed

[2017-11-30 13:46] quanglam2807 commented on #195
#212

[2017-11-30 13:46] #195 closed

[2017-11-30 13:46] #113 closed

[2017-11-30 16:20] #199 closed

[2017-11-30 16:21] quanglam2807 commented on #180
Resolved with #113 #212

[2017-11-30 17:26] beevelop opened #217 "Codenvy integration (default home page)"
The Codency integration uses `codenvy.com` as default home page. When launching Webcatalog's Codenvy, this always leads to their information website. You can also link directly to https://codenvy.io/. This does not only look a lot better (you'll get their fancy loading animation right on launch), but takes you right into your Codenvy Dashboard by default.

This does also work seamlessly when you a

[2017-11-30 18:34] probonopd opened #218 "Fails without any indication of what the issue might be"
Fails without any indication of what the issue might be. Running `WebCatalog-8.0.0-x86_64.AppImage` on `xubuntu-16.04.1-desktop-amd64.iso`

![screenshot_2017-11-30_19-32-08](https://user-images.githubusercontent.com/2480569/33448106-69dc2b88-d605-11e7-8fa5-a5e529544e75.png)

[2017-11-30 18:56] probonopd opened #219 "Publish as AppImage"
Please add the ability to publish the generated application as an [AppImage](https://appimage.org/).
There are tools to make this easy:

- `appimagetool` from https://github.com/AppImage/AppImageKit/
- https://www.npmjs.com/package/grunt-appimage
- https://www.npmjs.com/package/electron-builder

[2017-12-01 14:36] quanglam2807 commented on #217
@beevelop I'm migrating the directory to https://github.com/webcatalog/webcatalog-apps but because the Codenvy icon doesn't satisfy the resolution requirement, it has been removed. Do you have high-resolution icon?

[2017-12-01 15:18] beevelop commented on #217
@quanglam2807 I reached out to the Codenvy marketing team. Let's see if they have something to offer.

[2017-12-01 17:12] quanglam2807 opened #220 "Support VPN"
[code]

[2017-12-01 17:21] quanglam2807 commented on #198
Oura Ring is no longer officially supported.

[2017-12-01 17:21] #198 closed

[2017-12-01 17:21] #211 closed

[2017-12-01 17:23] quanglam2807 commented on #160
You can try to do this with the "Inject JS" preference.

[2017-12-01 17:23] #160 closed

[2017-12-01 17:23] quanglam2807 commented on #176
Sadly, Google breaks the web! And I don't have time to find workarounds.

[2017-12-01 17:23] #176 closed

[2017-12-01 20:31] jlandes opened #221 "Unable to Install Apps"
When attempting to install any app in WebCatalog, I receive an error message that the app cannot be installed. I'm running 8.0.3 on Linux Mint 18.3 x64.

![webcatalog](https://user-images.githubusercontent.com/34172050/33502361-bb365d2a-d6ad-11e7-87de-ec992d7d4586.png)

[2017-12-01 20:42] jlandes opened #222 "Provide PPA for WebCatalog"
It would be great if WebCatalog could be provided via a PPA for Linux systems, so that installation and upgrades can be handled automatically with the APT.

[2017-12-02 04:10] jefftriplett opened #223 ""This app is no longer supported" post 8.0.3 upgrade"
I upgraded to 8.0.3 and upon restarting all of my installed apps show "This app is no longer supported".

![webcatalog](https://user-images.githubusercontent.com/50527/33511664-6f7e9622-d6e4-11e7-9585-5e39abdf9df0.png)

[2017-12-02 04:22] quanglam2807 commented on #223
@jefftriplett Please uninstall the apps and reinstall them. WebCatalog 8 has some major changes.

It was my mistake not to make it clearer. I'm sorry.

[2017-12-02 04:51] quanglam2807 commented on #223
I've updated the RELEASE_NOTES.md https://github.com/webcatalog/webcatalog/blob/master/RELEASE_NOTES.md. I could have done much better but it's too late :(

[2017-12-02 04:51] #223 closed

[2017-12-02 16:08] quanglam2807 opened #224 "Google Classroom not working"
[code]

[2017-12-02 19:49] jefftriplett commented on #223
No worries. I just wanted to point it out since others would see it too.

[2017-12-03 13:55] alfinbi opened #225 "add arch linux unofficial user repository"
please add arch linux unofficial user repository so that users can easily update webcatalog using pacman -Syu. it will be a great benefit for webcatalog users to have the rolling release of webcatalog.

refer to this link

[https://wiki.archlinux.org/index.php/unofficial_user_repositories#Adding_your_repository_to_this_page](url)

[2017-12-03 14:04] quanglam2807 commented on #225
The app relies on `electron-builder` but the library doesn't support PPA. :( electron-userland/electron-builder#1170

[2017-12-03 14:05] quanglam2807 commented on #225
Let's move the discussion to #222

[2017-12-03 14:06] #225 closed

[2017-12-03 14:06] quanglam2807 commented on #222
The app relies on `electron-builder` but the library doesn't support PPA. :( electron-userland/electron-builder#1170

[2017-12-03 14:43] alfinbi commented on #222
it is easy to provide arch linux user repository so that users can add webcatalog repo to /etc/pacman.conf and update webcatalog on pacman -Syu command. it will safe much time to update rather than downloading the pacman file and manually update.

here is the [wiki](https://wiki.archlinux.org/index.php/unofficial_user_repositories#Adding_your_repository_to_this_page)

here is [example repo](http:/

[2017-12-03 15:06] beevelop commented on #217
Bard Micklea provided me the following logo: ![logo-codenvy-white](https://user-images.githubusercontent.com/6891349/33526567-c8fc8a64-d843-11e7-87c7-848064dd92a7.png)

Is this of any use for you?

[2017-12-03 15:21] quanglam2807 commented on #217
@beevelop Thanks a lot! But can you ask him for an app icon? 1024x1024px. Precisely, a Mac icon :) I can make an icon with that PNG but it won't look good.

[2017-12-03 15:44] beevelop commented on #217
@quanglam2807 Let's see what else they have to offer. Using clearbit I at least get a 512x512 logo: https://logo-core.clearbit.com/codenvy.com?size=512

Alternative: Get into your designer persona and make something that looks quite similar (this is not an official logo and we should definitely check back with Codenvy / Redhat if it's cool with them):
![codenvy](https://user-images.githubuserconte

[2017-12-03 15:48] quanglam2807 commented on #217
Nice! Should we settle with this one?

![33526983-1a64649e-d849-11e7-82a6-3befb2d47494](https://user-images.githubusercontent.com/1548835/33527026-0e9ceafe-d87c-11e7-8552-2dc6abe0ee48.png)

The one on clearbit is only 300x300.

[2017-12-03 15:53] beevelop commented on #217
@quanglam2807 Looks good. I'll give them a heads up, just to make sure it's cool with them, ok?

[2017-12-03 16:37] quanglam2807 commented on #217
@beevelop Sure!

[2017-12-04 06:05] matrixik commented on #180
Hmm, thank you for looking into this but I still can't install any page:
When creating custom app:
[code]
When downloading from server:
[code]
Debug info:
[code]
Hmmm, maybe webcatalog is not getting system proxy on Windows 8.1?

[2017-12-04 07:50] quanglam2807 commented on #180
Can you try to create a custom app with a local PNG?

On Mon, Dec 4, 2017 at 1:05 PM Dobrosław Żybort <notifications@github.com>
wrote:

[2017-12-04 08:31] matrixik commented on #180
Thank you for idea.

Tried it and still have same error:
[code]
Looks like 192.30.253.112 is pointing to github, no idea what could be the problem, I'm writing now from the same machine that I try to install custom app. Could I somehow debug it more for you?

[2017-12-04 09:55] matrixik commented on #180
Hmm, the problem could be with the way how it's connecting to the github server. For doing `git clone` I needed to add http configuration to global `.gitconfig`.

[2017-12-04 10:53] quanglam2807 commented on #180
@matrixik The app doesn't log the bug in the forked script so it's quite tricky to debug. I need to look at this. It sends and logs the error message but it doesn't log the line number.

https://github.com/webcatalog/webcatalog/blob/master/public/libs/install-app-async/script.js#L153

I need to work on an update.

[2017-12-04 11:59] matrixik commented on #222
Maybe make it into Snap app and then it can be build and updated automatically.
Example for Hugo https://github.com/gohugoio/hugo/blob/master/snapcraft.yaml
More info https://snapcraft.io/

[2017-12-04 12:17] quanglam2807 commented on #222
@matrixik I did some witchcraft (https://github.com/webcatalog/webcatalog/blob/master/dist.js#L102) to make WebCatalog works so it doesn't work well with with Snap or AppImage.

#199 #219

[2017-12-04 14:59] quanglam2807 opened #226 "iCloud "keep me logged in" doesn't work"
[code]

[2017-12-04 15:10] quanglam2807 commented on #226
[code]

[2017-12-04 19:11] demicon commented on #221
Im getting the same error
`Error: Forked script error`
`at ChildProcess.child.on (/opt/WebCatalog/resources/app/build/libs/install-app-async/index.js:56:18)`
`at emitTwo (events.js:106:13)`
`at ChildProcess.emit (events.js:194:7)`
`at Process.ChildProcess._handle.onexit (internal/child_process.js:215:12)`
`actions.js:47 Error: Installing failed.`
`at EventEmitter.o (install-app-async.js:23)`
`at e

[2017-12-04 19:32] #202 closed

[2017-12-04 19:33] quanglam2807 commented on #168
Let's move to #221

[2017-12-04 19:33] #168 closed

[2017-12-04 19:33] quanglam2807 commented on #180
Let's move to #221

[2017-12-04 19:33] #180 closed

[2017-12-04 19:33] quanglam2807 commented on #193
Let's move to #221

[2017-12-04 19:33] #193 closed

[2017-12-04 19:34] quanglam2807 commented on #216
Let's move to #221

[2017-12-04 19:34] #216 closed

[2017-12-04 20:14] ichowise opened #227 "Problem installing apps"
My webcatalog has had a bug where it is unable to install any apps. I thought it was initially because you guys hadn't updated the app since the new mac OS came out, but I've since updated WebCatalog to version 8 and it still says it fails to install any of the apps I try to.

[2017-12-05 10:12] matrixik commented on #180
Thank you for looking into it.

[2017-12-05 13:24] quanglam2807 commented on #227
@ichowise Thanks a lot for reporting. Please move to #221.

[2017-12-05 13:24] #227 closed

[2017-12-05 13:25] quanglam2807 commented on #221
@jlandes @demicon @younglee327 @ichowise @matrixik @rosiered999

Can you guys download v8.0.4: https://github.com/webcatalog/webcatalog/releases/tag/v8.0.4, try to install an app and then send me the log, please? Also, please include what OS you are using together with the log.

[2017-12-05 15:00] fsdias opened #228 "Ubuntu Webcatalog Version 8.0.3: Can't install any apps"
Error:
eg:
"We're sorry. WebCatalog has failed to install Evernote"

[2017-12-05 15:05] quanglam2807 commented on #228
Thanks a lot for reporting. Please go to #221 and follow the instruction to help me fix the bug :)

[2017-12-05 15:05] #228 closed

[2017-12-05 15:08] fsdias commented on #221
I am on ubuntu 16.04 and run webcatalog 8.0.3 from the commandline. This is the error:

Error: /lib/x86_64-linux-gnu/libz.so.1: version `ZLIB_1.2.9' not found (required by /opt/WebCatalog/resources/app/node_modules/sharp/build/Release/../../vendor/lib/libpng16.so.16)
    at process.module.(anonymous function) [as dlopen] (ELECTRON_ASAR.js:173:20)
    at Object.Module._extensions..node (module.js:5

[2017-12-05 15:39] quanglam2807 commented on #221
@fsdias Related to lovell/sharp#892. I'm looking for an alternative.

[2017-12-05 17:58] demicon commented on #221
OS: Windows 10 x64
Webcatalog 8.0.4
Apps installed successfully. No errors are seen in log.
![image](https://user-images.githubusercontent.com/26656849/33622385-b1e58782-da13-11e7-9e3b-d81ef7f43376.png)
I am yet to try it in linux

[2017-12-05 18:09] nyex commented on #221
Mine seems to be a timeout issue due to slow internet connection. Should I report a new bug?

Ubuntu 17.10
WebCatalog 8.0.4

Stuck here:

Downloading tmp-8091-0-electron-v1.7.9-linux-x64.zip
Error: read ECONNRESET
Downloading tmp-8282-0-electron-v1.7.9-linux-x64.zip
[=>                                           ] 6.0% of 51.24 MB (32 kB/s)

.... and so on and so forth.

[2017-12-05 21:59] demicon commented on #221
Installed Webcatalog 8.0.4 using .deb
Ubuntu 16.04.3 x64
It keeps on showing installing but never getting installed
![image](https://user-images.githubusercontent.com/26656849/33633047-918eb00e-da35-11e7-9f04-aa9a6728c7ef.png)

[2017-12-05 22:00] demicon commented on #213
can be closed because cloud9 is integrated into AWS

[2017-12-06 01:39] quanglam2807 commented on #221
@nyex `electron` is supposed to be pre-downloaded & included in the package. I'll have a look.

@demicon @fsdias Please test v8.0.5 on Linux: https://github.com/webcatalog/webcatalog/releases/tag/v8.0.5

[2017-12-06 01:40] quanglam2807 commented on #213
Awesome!

[2017-12-06 01:40] #213 closed

[2017-12-06 08:34] grey-dev-0 commented on #221
@quanglam2807 It seems you've managed to fix the problem in 8.0.5.
Thank you for this great app.

[2017-12-06 08:52] necroshadow0 opened #229 "DMG image not recognized"
I downloaded the dmg on mac osx 10.10, and It can't open
It said : " image not recognized"
what do I do?

[2017-12-06 09:33] matrixik commented on #221
[code]
When creating custom app (with local PNG file):
[code]
When trying to install Trello from directory:
[code]

[2017-12-06 09:59] fsdias commented on #221
It's also working on Ubuntu 16.04. Thanks a lot

[2017-12-06 11:22] quanglam2807 commented on #229
@necroshadow0 Maybe, the downloaded file is corrupt. Can you re-download it and try again?

[2017-12-06 11:24] quanglam2807 commented on #221
@grey-dev-0 @fsdias Awesome! Thanks a lot for letting me know.

@matrixik I'm working on a fix :)

[2017-12-06 13:38] quanglam2807 commented on #221
@matrixik Can you test https://github.com/webcatalog/webcatalog/releases/tag/v8.0.6

[2017-12-07 09:31] matrixik commented on #221
With 8.0.6 I have no error but still I can't install app in any way, it just showing "INSTALLING" with moving blue bar. I started installing yesterday so looks like it doesn't have any timeout set.

[2017-12-07 10:06] necroshadow0 commented on #229
I can’t I tried it from you website, getwebcatalog.io
is it the right one?

On 6 Dec 2017 at 7:22 PM, Quang Lam <notifications@github.com> wrote:

@necroshadow0 <https://github.com/necroshadow0> Maybe, the downloaded file
is corrupt. Can you re-download it and try again?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/webcat

[2017-12-07 10:08] quanglam2807 commented on #229
@necroshadow0 Accurately, https://webcatalog.io :)

[2017-12-07 10:55] necroshadow0 commented on #229
maybe it’s because I use sierra….

On 7 Dec 2017 at 6:08 PM, Quang Lam <notifications@github.com> wrote:

@necroshadow0 <https://github.com/necroshadow0> Accurately,
https://webcatalog.io

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/webcatalog/webcatalog/issues/229#issuecomment-349921708>,
or mute the thread
<https://gith

[2017-12-07 10:57] quanglam2807 commented on #229
@necroshadow0 I'm sorry that the file doesn't work on your machine. WebCatalog is supported to work on Sierra so it's not your fault. Can you try to install with the ZIP installer: https://github.com/webcatalog/webcatalog/releases/download/v8.0.5/WebCatalog-8.0.5-mac.zip

[2017-12-07 11:04] quanglam2807 opened #230 "Icon distortion"
[code]

![capture 2](https://user-images.githubusercontent.com/1548835/33802739-a5a13e76-ddb0-11e7-97ee-095ce19b14da.PNG)
![capture](https://user-images.githubusercontent.com/1548835/33802740-a5de0306-ddb0-11e7-82bd-c7dd5e69a82e.PNG)

[2017-12-07 13:44] quanglam2807 commented on #221
@matrixik My bad! It was a bad build. Please try: https://github.com/webcatalog/webcatalog/releases/tag/v8.0.7

[2017-12-07 14:03] jlandes commented on #221
@quanglam2807 It seems to be working fine for me now.

[2017-12-07 14:26] matrixik commented on #221
8.0.7
From directory:
[code]
Custom app:
[code]
Sorry for causing so many troubles.

[2017-12-08 12:04] nyex commented on #221
@quanglam2807 just to let you know my internet connection woke up in a good mood so I managed to complete the download of electron and then installed apps with no problem. but still it had to download electron. :)

[2017-12-08 16:31] quanglam2807 commented on #221
@nyex Thanks a lot for letting me know!

@matrixik No worries! It looks like the app fails to download Electron from GitHub Releases.

[2017-12-08 17:41] mmferro opened #231 "In Inbox by Gmail can't copy URL"
Hello
I was trying to copy a URL by right clicking on it, and then it prompted me to instal the google docs offline extension in the WebCatalog Inbox app.

That was not possible. Any way you can add that feature?

[2017-12-09 14:44] a855 opened #232 "G Drive"
Hey,
When I try to install google drive app this appears:
We're sorry. WebCatalog has failed to install Google Drive.

[2017-12-09 20:57] jonsnelson commented on #230
Thanks for trying to solve this. How are you able to reproduce the issue? Are you using a custom dock bar? (So far, I don't notice the issue on my native windows dock/task bar, only on my Winstep taskbar...)
Anyway, I'd be happy to try things out for you if you need someone to test things :)
Thanks!

[2017-12-10 06:31] quanglam2807 commented on #232
@a855 I'm sorry for the issue. I'm working to fix this. You can keep track at #221

[2017-12-10 06:31] #232 closed

[2017-12-10 06:32] quanglam2807 commented on #231
I'm sorry but this happens because Inbox doesn't follow web standards and I don't have enough time to fix bugs like this.

[2017-12-10 06:32] #231 closed

[2017-12-10 06:33] quanglam2807 commented on #181
I think this's resolved with v8.0.5

[2017-12-10 06:33] #181 closed

[2017-12-10 06:33] quanglam2807 commented on #58
I'm testing Ad-blocking with a new app Secreton: https://secretonapp.com/. If it's stable enough, I'll merge the feature to WebCatalog.

[2017-12-10 06:47] quanglam2807 commented on #230
@jonsnelson Thanks a lot! I need to issue a few releases to see what library works best.

I have tried https://github.com/akabekobeko/npm-icon-gen & https://github.com/kevva/to-ico but they don't seem to work correctly.

The only hope we have now is https://github.com/steambap/png-to-ico.

The libraries are Javascript-based while the one I used in WebCatalog 7 was a native one (imagemagick) but it

[2017-12-10 06:48] quanglam2807 commented on #224
This Issue is related to electron webview. I won't fix it.

[2017-12-10 06:48] #224 closed

[2017-12-10 06:48] #208 closed

[2017-12-10 06:49] quanglam2807 commented on #159
This Issue is related to electron webview. I won't fix it.

[2017-12-10 06:49] #159 closed

[2017-12-10 06:50] quanglam2807 commented on #169
Let's close this issue and wait for Electron 1.8 :)

[2017-12-10 06:50] #169 closed

[2017-12-10 06:50] quanglam2807 commented on #192
This Issue is related to electron webview. I won't fix it.

[2017-12-10 06:50] #192 closed

[2017-12-10 06:50] quanglam2807 commented on #182
This Issue is related to electron webview. So let's wait for Electron 1.8.  :)

[2017-12-10 06:50] #182 closed

[2017-12-10 06:51] quanglam2807 commented on #210
This Issue is related to electron webview. So let's wait for Electron 1.8. :)

[2017-12-10 06:51] #210 closed

[2017-12-10 06:51] quanglam2807 commented on #173
This Issue is related to electron webview. So let's wait for Electron 1.8. :)

[2017-12-10 06:51] #173 closed

[2017-12-10 06:51] quanglam2807 commented on #226
This Issue is related to electron webview. So let's wait for Electron 1.8. :)

[2017-12-10 06:51] #226 closed

[2017-12-10 06:52] #229 closed

[2017-12-10 06:52] #156 closed

[2017-12-10 06:53] quanglam2807 commented on #215
This Issue is related to electron webview. So let's wait for Electron 1.8. :)

[2017-12-10 06:53] #215 closed

[2017-12-10 09:41] jonsnelson commented on #230
thanks for trying. hopefully it will work out !

[2017-12-13 11:36] fsdias commented on #206
I have observed a similar situation on Ubuntu 16.04. In this case Facebook was opened and closed a few times and at some point I was not able to open it again. It was only after I manually ended the multiple Facebook processes that I was able to run it again.

Running Webcatalog from the command line and running Facebook from within it does not throw any error

![screenshot from 2017-12-13 11-34-5

[2017-12-13 18:57] brossi17 opened #233 "Multiple windows/Tabs"
I love the experience of running my favorite websites as full screen apps, but one major limiting feature is the inability to run multiple tabs/windows on the same website, which I often do on web browsers and often prevents me from using webcatalog. I would love to see this feature implemented.

[2017-12-13 19:32] emailalinda opened #234 "Apps not working after installing High Sierra"
Hi!
I just installed High Sierra for mac this morning and now many of the apps are not working - Google Calendar, Netflix, Google Play music and Google Analytics seem to have gotten uninstalled and when I try to reinstall it says that an error occurred... what to do? Thanks!

[2017-12-15 08:22] dbadaya1 opened #235 "Misuse of ~/.config folder for storing binary files of installed web apps in linux"
I noticed binaries for installed webapps are stored in ~/.config/WebCatalog/apps
This increases the size of ~/.config folder significantly, making it less practical to sync this folder across devices.
Can we move the this folder to somplace else ? Maybe /opt/WebCatalog/apps ?

[2017-12-15 13:22] jlandes commented on #235
I'm in agreement on this one.

[2017-12-15 13:54] quanglam2807 commented on #235
It won't be hard to accomplish this but backward compatibility would be a problem.

[2017-12-15 14:02] jlandes commented on #235
@quanglam2807 I think it'd be easy enough to write a script to move the data from ~/.config/WebCatalog/apps to /opt/WebCatalog/apps and that script should only need to be run once. Or, possibly make it part of the install for new versions that it checks for apps in the ~/.config/WebCatalog/apps and moves them over. Maybe you have some better ideas.

[2017-12-15 16:48] quanglam2807 commented on #230
@akabekobeko Can you help with this, please?

[2017-12-15 16:52] poxtron opened #236 "Request: Multi-language spelling"
Hello, this is a very useful tool only one thing missing: spelling check with different languages.

If you can accomplish this then it would be perfect.

Thanks.

[2017-12-16 03:08] quanglam2807 commented on #236
It's supposed to detect language automatically but there's a bug (electron-userland/electron-spellchecker#85).

It's possible to add an option to set the language manually but I don't know where to find the list of the supported languages.

[2017-12-16 03:09] quanglam2807 commented on #234
I'm sorry for the issue. I'm working to fix it ASAP. Let's move the discussion to #221

[2017-12-16 03:09] #234 closed

[2017-12-16 03:10] quanglam2807 commented on #233
Thanks a lot for the feedback. I'll try to work on this. But it's not my priority at the moment. Let's move the discussion to #204

[2017-12-16 03:10] #233 closed

[2017-12-16 14:28] quanglam2807 commented on #235
@jlandes  It would mean I need to add and maintain some code. When the folder is moved, the shortcut files also need to be updated.

[2017-12-16 14:34] quanglam2807 commented on #235
@jlandes @dbadaya1  I would make an update with breaking changes. `/opt` is much better choice.

https://unix.stackexchange.com/questions/11544/what-is-the-difference-between-opt-and-usr-local

[2017-12-16 15:12] dbadaya1 commented on #235
After thinking about this for a while, I think /opt would not be a good choice.
Reasons being
- /opt is writable only by root. Webcatalog must be run as root to install apps. Users without sudo permission would not be unable to install webapps

-  /opt is shared by all users. So, if a user installs an app, it will automatically be installed for all users. I don't think this is the desired behaviou

[2017-12-16 15:13] quanglam2807 commented on #235
@dbadaya1 Right now, there's a folder at `~/.webcatalog`. Should we use it instead?

[2017-12-16 15:19] dbadaya1 commented on #235
~/.webcatalog is fine with me.

[2017-12-18 06:00] bansalsohil opened #237 "Apps are stuck on installation"

[2017-12-18 06:03] quanglam2807 commented on #237
@bansalsohil I'm sorry for the issue. Which OS are you using?

[2017-12-18 06:08] quanglam2807 commented on #230
As I tested, `icon-gen` & `to-ico` generate identical files while `png-to-ico` generates smaller file.

<img width="695" alt="screen shot 2017-12-18 at 1 07 43 pm" src="https://user-images.githubusercontent.com/1548835/34092143-941cdcc4-e3f4-11e7-8c1d-75b67bd3b68b.png">

[2017-12-18 06:15] bansalsohil commented on #237
@quanglam2807 sorry it happened because I opened the app through .dmg and after I quit there was still some background session running. The issue got resolved after restarting the system.

[2017-12-18 06:29] quanglam2807 commented on #237
@bansalsohil I'm glad to know that! Thanks a lot.

[2017-12-18 06:29] #237 closed

[2017-12-18 07:08] akabekobeko commented on #230
@quanglam2807

Because using [Winstep Nexus Dock](http://www.winstep.net/nexus.asp), it seems to be Windows and `ICO` file problem.

Win32 API is not used for `ICO` file generation processing by `icon-gen`, Building [BITMAPINFOHEADER](https://msdn.microsoft.com/ja-jp/library/windows/desktop/dd183376(v=vs.85).aspx) independently, but the `BITMAP` part is uncompressed (BGRA/Bottom-Left).

It seems t

[2017-12-18 11:00] quanglam2807 commented on #230
@akabekobeko Thanks a lot for clarifying. I don't understand what you mean clearly but I guess the file generated by `png-to-ico` is smaller than the one generated by `icon-gen` because the former compresses the `BITMAP` part, right?

@jonsnelson please test these `ICO` files to see if any of them works with Winstep. https://we.tl/sZ2vSjqZhP.

[2017-12-19 11:27] jonsnelson commented on #230
In my test all three of those work great in Winstep!  (Note: *"png-to-ico" has less sizes though).

However, I can't say for sure until I try an actual app created with that ico resource file.

Just to clarify how I tested: Using Resource Hacker I opened the apps's .exe file (I tested on webcatalog's ebay app) and:
1) saved the original .ico resource to another folder.
2) replaced the .ico with yo

[2017-12-19 11:50] quanglam2807 commented on #230
@jonsnelson This is strange. Can you upload the original .ico resource?

[2017-12-19 11:59] jonsnelson commented on #230
[ebay.zip](https://github.com/webcatalog/webcatalog/files/1571559/ebay.zip)
Sure (uploaded):
To clarify: In order to compare I tried the _new_ .ico files you sent (which looked fine) and THEN the original one (which looked distorted) I wanted to be sure that that the new ones worked because of the .ico files __themselves__ and NOT because of something that Resource Hacker did to the .ico  file whe

[2017-12-19 12:03] jonsnelson commented on #230
Is there anyway for you to send an actual webcatalog app  (using one of the new .ico)?
Then I could be 100% sure that it works...

[2017-12-20 11:29] quanglam2807 commented on #230
@jonsnelson It is odd that I can't even open the `.ico` file on my Mac. And actually, I don't think it is necessary to send the whole app as I won't be able to extract any valuable information from it. I'll allow creating custom apps with `.ico` file in the upcoming versions so you can generate the icons with different software.

[2017-12-20 19:20] jonsnelson commented on #230
I'm confused. Are you going to package the non-custom apps (also) - such as Gmail, Maps, etc...- with a new kind of .ico file? (not just letting me do that for custom apps)

As it is now, I can use Resource to re-package your apps with .ico which work fine with winstep. I was hoping that you would use an .ico resource which works for me "out of the box"  :)

Eitherway ,thanks as always for your ti

[2017-12-22 06:46] #163 closed

[2017-12-22 07:07] quanglam2807 commented on #230
@jonsnelson Well, you can definitely create a custom Gmail, Maps app, etc. But it is strange that if you use Resource to re-package the apps with the `.ico` files I sent you, they work fine with Winstep. Because if so, the problem is not caused by the icon files but by something else.

I'm not sure if I can find a optimal solution soon but I'm working to open-source the project more and more. So h

[2017-12-22 07:27] jonsnelson commented on #230
I am confused, and maybe you misunderstood me.

[2017-12-22 07:31] quanglam2807 commented on #230
@jonsnelson Basically, the next update won't fix this issue :) Let's wait for somebody to fix it :)

[2017-12-22 07:34] jonsnelson commented on #230
I am confused, and maybe you misunderstood me.
1- The  .ico files you sent me worked great (with winstep) when I used Resource to package them into the apps.
2- The ORIGINAL .ico file which came with the app from the WebCatalog directory DOESN'T work (with winstep): doesn't work "out of the box" AND doesn't work EVEN IF repackaged with Resource.

Doesn't that show that there is a problem with the

[2017-12-22 07:51] quanglam2807 commented on #230
@jonsnelson Actually, where did you find the `ORIGINAL .ico`?

[2017-12-22 08:02] jonsnelson commented on #230
I simply mean the .ico which came with the WebCatalog apps from the directory.
1) Using Rescource, I opened the .exe app (of Ebay for example) and used the "save .ico resource" function. That way I had a backup of it.
2) Then I REPLACED that original .ico resource with your new one, and it worked great!
3) Then, to test, I put BACK the original (backed up) .ico that came with app, and it didn't wo

[2017-12-22 08:12] quanglam2807 commented on #230
@jonsnelson Thanks a lot. I got it! So:

[code]

The problem is that the icons I sent you and the icons you extracted from the .exe are generated by the same libraries. So I still don't know what causes the issue.

[2017-12-22 08:18] jonsnelson commented on #230
So what was the difference between those icons and the original ones? I thought you were testing something new?

[2017-12-22 08:24] quanglam2807 commented on #230
@jonsnelson I sent you 3 `.ico` files: `to-ico.ico`, `icon-gen.ico`, `png-to-ico.ico`. Their names are the names of 3 different icon-converting libraries I'm testing.

https://github.com/akabekobeko/npm-icon-gen
https://github.com/kevva/to-ico
https://github.com/steambap/png-to-ico

The one WebCatalog is currently using is `npm-icon-gen`. So I would expect `icon-gen.ico` and the `.ico` extracted f

[2017-12-22 09:18] jonsnelson commented on #230
So---doesn't that mean that if you use one of those 3 libraries it might help?
Maybe you could try packaging an app with one of those libraries and send me to test?

[2017-12-22 09:27] quanglam2807 commented on #230
@jonsnelson Sure. I'll try do that soon.

[2017-12-22 14:26] quanglam2807 commented on #235
I've cut the release with this change.

If you guys can, please test https://github.com/webcatalog/webcatalog/releases/tag/v9.0.0 and let me it works correctly.

[2017-12-22 14:28] quanglam2807 commented on #221
I disable resource sharing feature by default with v9.0.0. Hopefully, it will fix this issue. Can you guy test it: https://github.com/webcatalog/webcatalog/releases/tag/v9.0.0?

[2017-12-22 16:55] nyex commented on #221
@quanglam2807 It's still trying to download electron... which fails for me because my connection is too slow :( I always get a timeout error after a while.

But then I was with 8.0.7 and even though it did download electron once, after a few days when I wanted to install a different app, it started downloading electron again, and -- well, I couldn't install anything anymore.

(I can barely downloa

[2017-12-22 16:59] nyex commented on #221
Ok, while I typed, my connection went and surprised me, so it finished downloading electron v1.7.10 and installation of apps worked. Hopefully it won't have to download electron again in the future?

[2017-12-22 17:03] quanglam2807 commented on #221
@nyex Hope so. I'm also working to make the app accessible via npm CLI. It'll definitely be more stable. So stay tuned.

[2017-12-23 01:08] leogallego commented on #235
Hello, sorry to reopen this, but, I think you should stick to XDG Base Directory Specifications. This is compliant with almost every Linux desktop. Using the old "~/.webcatalog" is discontinued and shouldn't be used (at least if you care about this things and compatibility across multiple distributions).

**.config/webcatalog** for the app configuration
**.local/share/webcatalog** for the app data

[2017-12-23 14:14] quanglam2807 commented on #235
@hombrepac I don't use Linux as my daily driver so it's hard for me to make a good decision for this issue. I would like to read more opinions from other people.

[2017-12-23 15:57] quanglam2807 opened #238 "Add additional buttons to Navigation Bar"
[code]

![zfq63r3](https://user-images.githubusercontent.com/1548835/34320826-87d8ee14-e834-11e7-9ff8-9d144858ba0d.png)

[2017-12-23 20:51] fatihturan commented on #101
I hope this issue will be fixed in next release. :) Cuz sometimes it's really annoying me. :)

[2017-12-23 21:19] swrobel commented on #101
Electron issue with workarounds for reference: https://github.com/electron/electron/issues/5900

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-23 23:30] rjhilgefort commented on #221
This is still fails for me on `9.0.0`.

OS: Mac High Sierra 10.13.2

[2017-12-24 11:04] quanglam2807 commented on #101
@swrobel Thanks a lot for the reference. I've made the commit but I'm not sure if it would fix the problem. I tested on my Macbook and it worked. :)

[2017-12-24 11:07] #101 closed

[2017-12-26 03:51] quanglam2807 commented on #238
[code]

![endsips](https://user-images.githubusercontent.com/1548835/34346506-b0a46cae-ea2a-11e7-8806-28496d8bfd76.gif)
![sma6o2j](https://user-images.githubusercontent.com/1548835/34346507-b20b685e-ea2a-11e7-984e-d003155bc0f4.gif)

[2017-12-26 09:10] areebqaisar opened #239 "Portable Appdata"
The Default Application Data of the Created App, is saved in the User's Profile Directory.
In case of Windows it is:
C:\Users\username\AppData\Roaming\CreatedAppName

Is there anyway, we can use the Created App as PortableApp ? Or any method by which we can customize the Default Location of AppData ?

[2017-12-26 15:49] quanglam2807 commented on #239
@areebqaisar You can probably use the CLI :)

[2017-12-27 04:06] areebqaisar commented on #239
Thanks. Can you please guide me how to use the CLI ? Like the parameters for npm etc ?

[2017-12-27 04:07] quanglam2807 commented on #239
@areebqaisar Here is it: https://github.com/quanglam2807/webcatalog#command-line

[2017-12-27 04:09] areebqaisar commented on #239
So, in this Command, which parameter should I add to specify the Custom AppData Directory ?

appifier --id duckduckgo --name "DuckDuckGo" --url "https://duckduckgo.com" --icon ./icon.png

[2017-12-27 04:19] quanglam2807 commented on #239
—

[2017-12-27 04:20] quanglam2807 commented on #239
https://github.com/quanglam2807/webcatalog/blob/master/API.md

[2017-12-27 07:28] quanglam2807 commented on #239
@areebqaisar I'm sorry. I didn't understand what you mean correctly. I'll take a look at this soon.

[2017-12-27 10:11] quanglam2807 commented on #239
This can be resolved by:
- Adding an option for Default Application Data in the preferences page.
- Using `app.setPath` to change the path based on the preference. (https://github.com/electron/electron/blob/master/docs/api/app.md#appsetpathname-path)

It would be nice if you or someone else work on this as I don't have time to add features.

[2017-12-28 13:16] emailalinda opened #241 "Not able to install Google Calendar"
<img width="908" alt="screen shot 2017-12-28 at 14 15 44" src="https://user-images.githubusercontent.com/34095565/34411824-aa9fa3c2-ebd9-11e7-8433-64d6a6f28c32.png">

[2017-12-28 13:38] quanglam2807 commented on #241
I'm still trying to find a solution for this bug. Let's move the discussion to #221.

[2017-12-28 13:38] #241 closed

[2017-12-29 16:55] garyhooper opened #242 "Google Calendar on Mac does not display location matches"
I have create a web catalog app for calendar.google.com on Mac. When modifying events to include a location, the calendar app lists potential locations matches (based on what I have typed in so far) in a list. This functionality is not working in the WebCatalog app.

Suggestions?

[2017-12-29 22:16] swrobel commented on #242
Working fine for me, WebCatalog 9.1.2, macOS 10.13.2
<img width="672" alt="screen shot 2017-12-29 at 2 14 56 pm" src="https://user-images.githubusercontent.com/157270/34448492-b1387f64-eca2-11e7-801d-fb0052ef9678.png">

[2017-12-30 03:27] garyhooper commented on #242
Bizarre.  Rebooting corrected it for me too...

[2017-12-30 03:27] #242 closed

[2018-01-01 19:28] Fiser12 opened #243 "Apps resize with bug in Windows 10"
I think that the problem is when I resice with multiple monitors and I am change the app between the monitors. This is the image with the  #bug

![imagen](https://user-images.githubusercontent.com/7186913/34470483-6ee2d064-ef32-11e7-93fe-977944774535.png)

[2018-01-03 15:40] lparsons opened #244 "Error: cannot find module '../dialog'"
On Ubuntu 16.04, after installing Todoist, I was able to to run it once. However, now every time I try to run the created app, I get:

[code]

This happens even after I "uninstall" and "reinstall" the app. Tried version 9.0.0 and 9.1.2.

[2018-01-03 15:55] quanglam2807 commented on #244
This is probably the solution: https://github.com/electron/electron/issues/8862#issuecomment-294303518. I'll issue a fix ASAP.

[2018-01-03 16:02] quanglam2807 commented on #206
It's probably related to #244.

[2018-01-03 16:02] #206 closed

[2018-01-09 04:24] jammer3d opened #245 "Cannot install apps when proxy server is configured"
Confirmed using the latest version of webcatalog via Mac and Windows.
The install times out when trying to install any app until the proxy server configuration is removed at the OS level.

Is there a work around?
I tried excluding a few domains from using the proxy server but it still did not work.

[2018-01-10 19:35] quanglam2807 commented on #245
@jammer3d Have you tried to create a custom app?

[2018-01-12 00:46] quanglam2807 commented on #244
I've committed the fix but for a reason, Travis keeps getting "time out" when signing the app.

[2018-01-12 23:10] nyex opened #246 "Blank screen when starting webcatalog"
I'm now with 9.2.0. WebCatalog loads for a few seconds during which I can see the main page, but then it's gone. The apps themselves (say, the Gmail app etc) load fine.

It actually started BEFORE I updated to 9.2.0, which is very strange. I renamed all webcatalog's related folders in my user's folder, but the problem persisted. Then I tried purging and reinstalling the program... still nothing.

[2018-01-12 23:59] quanglam2807 commented on #246
This is terrible. It also happens on my Mac. I no longer use the app daily so bug like this occurs. I'll try to fix it ASAP.

<img width="1093" alt="screen shot 2018-01-12 at 5 59 42 pm" src="https://user-images.githubusercontent.com/1548835/34900047-6244908e-f7c2-11e7-9106-d21b815720d5.png">

[2018-01-13 00:38] #244 closed

[2018-01-13 00:38] quanglam2807 commented on #244
Fixes with 9.2.x

[2018-01-13 00:46] quanglam2807 commented on #246
Backend bug. :)

[2018-01-13 00:46] #246 closed

[2018-01-13 12:44] leventeszmolka opened #247 "Elastic/bounce scroll on MacOS"
Please add the elastic/bounce scroll behaviour on MacOS to be more inline with the native apps.

[2018-01-13 22:17] nyex opened #248 "Cannot update apps"
Ubuntu 17.10
WebCatalog 9.2.1 (but was the same in previous versions).

The console says:

[code]

(The same with any app, though)

I can install new apps with no problem. If I uninstall one of these that are requesting for an update and then install again, it shows a different error:

[code]
Of course it installs fine if I just go and delete the folder in /tmp.

Not so critical since I can simply

[2018-01-13 22:41] quanglam2807 commented on #248
It's odd. `electron-packager` is supposed to overwrite the folder: https://github.com/quanglam2807/webcatalog/blob/master/packages/appifier/src/index.js#L29

[2018-01-13 22:44] quanglam2807 opened #249 "Add multi-language support"
@nyex suggests translating the app to Portuguese (Thanks a lot!!!). The strings are already organized in 2 files:
https://github.com/quanglam2807/webcatalog/blob/master/src/constants/strings.js
https://github.com/quanglam2807/webcatalog/blob/master/packages/appifier/app/src/constants/strings.js

But it requires some modifications like a setting to change the language, structural changes to support

[2018-01-14 09:20] philippeibach opened #250 "cpu usage"
Hey, I love this app. However, after a while it almost completely blocks my cpu and makes it non usable anymore.. I have to quit it then..  is there anything I can do?

[2018-01-14 13:30] nyex commented on #249
I can easily translate all those (I can also translate to Spanish), but I have no idea about how to do it code-wise (as in how to save the file, where to add the translated string etc); I've only translated .po files for wordpress so far 😀... So I'm accepting help in that area.

[2018-01-14 15:31] quanglam2807 commented on #249
Thanks a lot! But until I resolve this issue, you won’t be able to translate the app.

[2018-01-14 15:32] quanglam2807 commented on #250
Electron’s problem. Let’s hope they will find a solution. I cannot do anything

[2018-01-15 03:43] philippeibach commented on #250
thanks for your reply.. a pity though.. loved the app..

[2018-01-15 05:26] neycodes opened #251 "Unable to update or install previously installed apps since 9.2.1 update."
Ubuntu 16.04 (elementary OS Loki)
Webcatalog 9.2.1

Since updating to version 9.2.1 I am unable to update apps or install apps that were previously installed, then removed.

Attached screenshot shows the error message.

![install-error](https://user-images.githubusercontent.com/15023217/34928460-ab1d3de0-f98b-11e7-9f7e-7d49dd425ad8.png)

[2018-01-15 16:08] quanglam2807 commented on #251
Similar to #248

[2018-01-15 16:08] #251 closed

[2018-01-16 16:56] lparsons commented on #248
I'm running into a similar issue. I didn't get the error message the first time, but I did uninstall the app (Todoist) I was unable to update (since nothing works for me right now anyway due to previous bug). However, now webcatalog always shows Todoist as installed when I start up webcatalog (even if I've previously uninstalled). I tried remove the tmp folder, and that didn't help. So I tried "up

[2018-01-16 17:06] quanglam2807 commented on #248
I will need to debug this. This is odd because I didn't change anything in the app generating code.

[2018-01-18 02:06] toyg commented on #248
Not sure if related, but on Windows my WebCatalog seems stuck with an update that never runs. This makes it impossible to run new apps, since their launching button is stuck on "Update". I find it weird also that I installed WC a week ago but somehow it's marked as 9.0, whereas I believe it should have been 9.2...

![capture](https://user-images.githubusercontent.com/219614/35077237-fa926b92-fbf3-

[2018-01-18 02:19] quanglam2807 commented on #248
@toyg It's not related to this issue but you should just download the file directly from the website. The library `electron-builder` (which WC relies on) recently makes some major changes so I think it's the cause.

[2018-01-18 08:35] jonsnelson commented on #230
I just updated to the new Webcatalog (9.2.1) and updated a few apps and the icons seem to be good in Winstep.
Fixed?!
👍

[2018-01-18 15:42] quanglam2807 commented on #230
@jonsnelson I didn't change anything but maybe, it's thanks to @VirgileACM's quanglam2807/webcatalog-apps#13

[2018-01-18 15:42] #230 closed

[2018-01-18 21:39] fsdias opened #252 "Webcatalog 9.2.1 on Ubuntu 16.04 - Can't install gmail, facebook, evernote etc"
The only exceptions I found were Netflix and Grammarly.

[2018-01-19 15:08] fsdias commented on #252
It is working now, sorry

[2018-01-19 15:08] #252 closed

[2018-01-19 22:14] bagarwood opened #253 "Asana not installing"
Just wanted to let you know that Asana will not install or update. Thanks!

[2018-01-19 23:41] quanglam2807 commented on #253
Hi! What OS are you using?

[2018-01-19 23:56] bagarwood commented on #253
The latest release.

Thanks!
BRETT GARWOOD Freelancer

WEB & GRAPHIC DESIGNER
4003 Caln Circle, Harleysville, PA 19438
Phone: (517) 270-1770  Web: brettgarwood.com

This electronic mail transmission and any accompanying attachments contain confidential information intended only for the use of the individual or entity named above. Any dissemination, distribution, copying or action taken in reliance

[2018-01-20 01:35] quanglam2807 commented on #253
Thanks for the response. But I mean are you using Windows, macOS or Linux?

On Jan 19, 2018, 5:56 PM -0600, bagarwood <notifications@github.com>, wrote:

[2018-01-20 01:45] bagarwood commented on #253
Sorry macOS.

BRETT GARWOOD Freelancer

WEB & GRAPHIC DESIGNER
4003 Caln Circle, Harleysville, PA 19438
Phone: (517) 270-1770  Web: brettgarwood.com

This electronic mail transmission and any accompanying attachments contain confidential information intended only for the use of the individual or entity named above. Any dissemination, distribution, copying or action taken in reliance on the content

[2018-01-20 16:01] quanglam2807 opened #254 "DigiCert Code Signing Certificate (for win32) will expire"
The certificate to sign the app for win32 will expire soon, and because of it's too expensive,  I won’t continue to pay for it.

<img width="446" alt="screen shot 2018-01-20 at 10 00 42 am" src="https://user-images.githubusercontent.com/1548835/35185363-e535bf48-fdc8-11e7-8b9e-b66d1781573c.png">
<img width="790" alt="screen shot 2018-01-20 at 10 00 19 am" src="https://user-images.githubusercontent

[2018-01-21 19:40] christian-putzke opened #255 "Feature request: Setting to change the spell checker language"
Currently it looks like that the spell checker is using English to check the text. It would be great if I can choose the spell checkers language in the settings. Thanks for your great work!

[2018-01-21 19:41] #255 closed

[2018-01-21 19:41] christian-putzke commented on #255
Thre was already a ticket like that ...

[2018-01-21 19:43] christian-putzke commented on #236
It would be really great to set the language for the spell checking manually. Under Windows 10 the spell checking for all web catalog apps is using English for me even if I have a German operating system.

[2018-01-21 19:49] quanglam2807 commented on #255
#236

[2018-01-22 17:50] stefanq commented on #86
draw.io is fantastic but I cannot use it with Google drive due to this issue.
On any authentication attempt a small empty white window shortly pops up only to disappear after about 100ms.
I'm using Version 65.0.3322.3 (Offizieller Build) dev (64-Bit) on linux.
Are there any workarounds?

[2018-01-24 18:48] quanglam2807 commented on #86
@stefanq As I mentioned, it's related to https://github.com/electron/electron/issues/8969. I can remove the sandbox feature but it would affect the security of the app.

[2018-01-24 18:49] quanglam2807 opened #256 ".exe file is not created correctly on Windows"
[code]

[2018-01-25 15:25] pafffkata commented on #233
@quanglam2807 are you planning on implementing something like that in the long run at all?
I have the same use case - I like using the app, but at some point in time I need to open a couple of tabs on the same web page, just different sections.

Not being able to do this in WebCatalog is really a like @brossi17 said "a limiting feature".

[2018-01-25 20:34] quanglam2807 commented on #233
@pafffkata We should move to #204. Anyway, I'd love to build this feature but it would require changing the structure of the app (to support multiple web views). Right now, it's possible but it would mean running many web views at the same time which Electron is not optimized for.

[2018-01-25 21:40] quanglam2807 commented on #254
To resolve this issue, I've removed auto updater from all platforms. The auto-updater wouldn't work without a valid certificate.

[2018-01-25 21:40] #254 closed

[2018-01-27 02:19] educastro11 opened #257 "MenuBar"
I've got WebCatalog app for MAC. Wonderful idea!
I did install youtube in it. I Loved.
I'd like to give a suggestion. What about putting a MenuBar icon where you could access this youtube app just as an app called Muse in Mac App Store ?

[2018-01-27 03:48] educastro11 commented on #257
did you close? not a good idea?

[2018-01-27 03:50] quanglam2807 commented on #257
@educastro11 I just closed one of them. It's duplicated. Also, I've received your email. I'll try to work on this.

[2018-01-27 04:04] educastro11 commented on #257
thank you!!

[2018-01-28 08:08] Rhizomos opened #258 "Apps are not Updating after WebCatalogue Update"
Everytime I attempt to update apps, I receive the following error
<img width="1022" alt="webcatalog_and_new_issue_ _quanglam2807_webcatalog" src="https://user-images.githubusercontent.com/4747937/35480265-1e191230-03e9-11e8-8263-deaa76385650.png">

[2018-01-28 09:27] Rhizomos commented on #258
After updating Webcatalog to the latest version and uninstalling all the apps, now I am unable to install any app again.

[2018-01-28 13:03] Rhizomos commented on #258
This is a bug which I was able to fix by a complete uninstall of Webcatalog and all associated apps and directories.
Webcatalog works as expected

[2018-01-28 13:03] #258 closed

[2018-01-30 19:08] jlandes commented on #248
I'm running into the same issue that none of my apps will update. I'm running Linux Mint 18.3 and WebCatalog 9.3.1.

[2018-01-30 19:44] quanglam2807 commented on #248
If you go to https://webcatalog.io, you'd see I'm rebuilding the app. It would fix this problem. :)

[2018-02-02 13:11] jonshayler commented on #183
+1 for this please!

[2018-02-04 12:40] vlad-cotfas commented on #248
I`m having the same issue on Mac with WebCatalog 9.3.1 I can not update any App

[2018-02-08 16:45] quanglam2807 commented on #248
I've removed the updater with the Appifier update.

[2018-02-08 16:45] #248 closed

[2018-02-08 16:46] quanglam2807 commented on #253
A new version will be available soon at: https://github.com/quanglam2807/webcatalog

[2018-02-08 16:46] #253 closed

[2018-02-08 16:47] #256 closed

[2018-02-08 16:48] #217 closed

[2018-02-08 16:48] #221 closed

[2018-02-08 16:48] #235 closed

[2018-02-08 16:48] #209 closed

[2018-02-08 17:35] Jason-Morcos commented on #183
+1 as well. Multiple windows/tabs support macOS native style would be amazing

[2018-02-11 06:56] jingle0927 opened #260 "icon.png support 128*128？"
I uploaded a svg  128× 128
![_ _20180211151241](https://user-images.githubusercontent.com/26103116/36070811-1f55d20e-0f3e-11e8-9f5a-e22e3ab7e4d1.png)

[2018-02-11 06:59] jingle0927 commented on #260
![_appifier_20180211145819](https://user-images.githubusercontent.com/26103116/36070730-0db7e458-0f3c-11e8-8b92-2a723f3880dd.png)

[2018-02-11 07:02] sikenali commented on #249
Chinese support

[2018-02-11 07:14] sikenali commented on #260
support png jpg or  svg or   others？？？？？？

[2018-02-11 08:32] jingle0927 opened #261 "Cann‘t build a deb"
electron-installer-debian --src /home/jingle/Desktop/Wechat-linux-x64/ --dest /home/jingle/Desktop/wechat/ --arch amd64
Creating package (this may take a while)
Error: No Description or ProductDescription provided
    at getOptions (/usr/lib/node_modules/electron-installer-debian/src/installer.js:149:11)
    at getDefaults.then.defaults (/usr/lib/node_modules/electron-installer-debian/src/installe

[2018-02-11 08:34] sikenali commented on #261
I create form https://github.com/quanglam2807/appifier

you create file  /home/jingle/Desktop/Wechat-linux-x64/resources/app.asar.unpacked/package.json

no description argument

I added it  ok

[2018-02-11 08:44] jingle0927 commented on #261
electron version too lower?

[2018-02-11 18:19] quanglam2807 commented on #261
@jingle0927 If you can make a PR, that'd be nice :)

[2018-02-13 03:40] jingle0927 opened #262 "No .desktop file"

[2018-02-16 07:56] mr-mmmmore commented on #204
I love appifier, the interface is slick and the web apps run really fast! I love too the fact that each app runs in its own container so cookies and other local data is not shared between apps.

The only thing that I'm missing a lot compared to Fluid App is tabs! This is really missing for productivity, I for example have a Trello app where I keep my main boards open at the same time in different

[2018-02-26 08:57] #250 closed

[2018-02-26 08:58] #243 closed

[2018-02-26 08:58] #239 closed

[2018-02-26 08:58] #91 closed

[2018-02-26 08:58] #245 closed

[2018-02-26 08:59] #222 closed

[2018-02-26 08:59] #219 closed

[2018-02-26 08:59] #174 closed

[2018-02-26 09:00] #218 closed

[2018-02-26 09:00] #165 closed

[2018-02-26 19:19] probonopd commented on #219
Why was this closed? Unlike downloads for Mac and Windows, an AppImage for Linux is still missing from the GitHub Releases page. Thanks for your consideration.

[2018-02-26 19:32] quanglam2807 commented on #219
@probonopd I'm pivoting the product. I'll use AppImage soon.

[2018-02-28 00:57] swrobel opened #263 "Shared resources not working in 9.6.2"
I get the following on app launch.

[code]

This does not occur when I disable shared resources in Appifier before creating the app.

My `~/.webcatalog` seems to be OK (I removed it after upgrading to Appifier 9.6.2 and removing all my apps to rebuild them).

[code]

[2018-02-28 00:59] quanglam2807 commented on #263
Actually I’m building this new one: https://github.com/quanglam2807/webcatalog-lite

The current approach is flawed :(

[2018-02-28 01:00] swrobel commented on #263
Saw that and figured as much. You're a beast!

[2018-02-28 01:00] #263 closed

[2018-02-28 01:20] quanglam2807 commented on #262
Appifier GUI has been deprecated. Please wait for the first release of https://github.com/quanglam2807/webcatalog-lite

[2018-02-28 01:20] #262 closed

[2018-02-28 01:20] quanglam2807 commented on #261
Appifier GUI has been deprecated. Please wait for the first release of https://github.com/quanglam2807/webcatalog-lite

[2018-02-28 01:20] #261 closed

[2018-02-28 01:21] quanglam2807 commented on #260
Appifier GUI has been deprecated. Please wait for the first release of https://github.com/quanglam2807/webcatalog-lite

[2018-02-28 01:21] #260 closed

[2018-03-02 22:44] #58 closed

[2018-03-02 22:44] #64 closed

[2018-03-02 22:44] #100 closed

[2018-03-02 22:44] #105 closed

[2018-03-02 22:44] #117 closed

[2018-03-02 22:44] #155 closed

[2018-03-02 22:45] #175 closed

[2018-03-02 22:45] #177 closed

[2018-03-02 22:45] #183 closed

[2018-03-02 22:45] #186 closed

[2018-03-02 22:45] #189 closed

[2018-03-02 22:45] #200 closed

[2018-03-02 22:45] #204 closed

[2018-03-02 22:45] #220 closed

[2018-03-02 22:45] #236 closed

[2018-03-02 22:45] #238 closed

[2018-03-02 22:45] #247 closed

[2018-03-02 22:46] #249 closed

[2018-03-02 22:46] #257 closed

[2018-03-02 23:41] onlineth commented on #155
Has this been or will be implemented?

[2018-03-02 23:43] quanglam2807 commented on #155
@onlineth The project is almost dead. I'm trying to save it. I'll try to check and reopen the issues in the future.

[2018-03-05 21:48] jonathangcohen opened #266 "Installing apps hangs forever"
When I try to install an app the process hangs. Have tried reinstalling, rebooting. No success.

![2018-03-05_16-47-55](https://user-images.githubusercontent.com/15237588/37001583-fe098902-2094-11e8-8823-aa83182a12d4.png)

[2018-03-06 01:27] #266 closed

[2018-03-06 04:44] sikenali commented on #260
Thanks

[2018-03-06 05:10] jingle0927 opened #268 "GUI icon does not show up on Linux"
In deepin OS

I install deb no icon show
![_ _20180306131018](https://user-images.githubusercontent.com/26103116/37015118-db5eab5c-213f-11e8-8626-cede230614ea.png)

[2018-03-08 00:45] IBOYHK opened #269 "Can't Download the app to desktop"
I can't make the website to the local desktop, please if you see this fix soon as possible or if you like I would like to see the Webcatalog lite having some similar feature to the original Webcatalog thankyou like your product.

[2018-03-08 05:51] quanglam2807 commented on #269
@IBOYHK Hi, what OS are you using?

[2018-03-08 08:57] #269 closed

[2018-03-08 08:57] #268 closed